openapi: 3.2.0
info:
  title: Dropbox API Reference Contacts API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Contacts
paths:
  /2/contacts/delete_manual_contacts:
    post:
      tags:
      - Contacts
      summary: Dropbox delete_manual_contacts
      description: 'delete_manual_contacts


        scope: `contacts.write`


        Removes all manually added contacts. You''ll still keep contacts who are on your team or who you imported. New contacts will be added when you share.'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2ContactsDeleteManualContacts
      x-operation-id-source: derived
  /2/contacts/delete_manual_contacts_batch:
    post:
      tags:
      - Contacts
      summary: Dropbox delete_manual_contacts_batch
      description: 'delete_manual_contacts_batch


        scope: `contacts.write`


        Removes manually added contacts from the given list.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"email_addresses\": [\n        \"contactemailaddress1@domain.com\", \n        \"contactemailaddress2@domain.com\"\n    ]\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2ContactsDeleteManualContactsBatch
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
