openapi: 3.2.0
info:
  title: Dropbox Sign Api App API
  description: The Dropbox Sign API offers a reliable, flexible set of eSignature tools that can be used to power digital agreements and turn slow, outdated business processes into a competitive advantage. With a broad range of highly-configurable features, the Dropbox Sign API empowers you to build secure signing experiences and document workflows that delight your users.
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
  oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: Api App
  description: _md__OpenApi::TAG::API_APP::DESCRIPTION
paths:
  /api_app:
    post:
      tags:
      - Api App
      summary: Dropbox _t__ApiAppCreate::SUMMARY
      description: _t__ApiAppCreate::DESCRIPTION
      operationId: apiAppCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppCreateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
      responses:
        '201':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppCreate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppCreate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppCreate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppCreate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppCreate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppCreate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppCreate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppCreate.sh
      x-meta:
        seo:
          title: _t__ApiAppCreate::SEO::TITLE
          description: _t__ApiAppCreate::SEO::DESCRIPTION
  /api_app/{client_id}:
    get:
      tags:
      - Api App
      summary: Dropbox _t__ApiAppGet::SUMMARY
      description: _t__ApiAppGet::DESCRIPTION
      operationId: apiAppGet
      parameters:
      - name: client_id
        in: path
        description: _t__ApiAppGet::CLIENT_ID
        required: true
        schema:
          type: string
        example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppGet.sh
      x-meta:
        seo:
          title: _t__ApiAppGet::SEO::TITLE
          description: _t__ApiAppGet::SEO::DESCRIPTION
    put:
      tags:
      - Api App
      summary: Dropbox _t__ApiAppUpdate::SUMMARY
      description: _t__ApiAppUpdate::DESCRIPTION
      operationId: apiAppUpdate
      parameters:
      - name: client_id
        in: path
        description: _t__ApiAppUpdate::CLIENT_ID
        required: true
        schema:
          type: string
        example: 0dd3b823a682527788c4e40cb7b6f7e9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppUpdateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppUpdateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppUpdate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppUpdate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppUpdate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppUpdate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppUpdate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppUpdate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppUpdate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppUpdate.sh
      x-meta:
        seo:
          title: _t__ApiAppUpdate::SEO::TITLE
          description: _t__ApiAppUpdate::SEO::DESCRIPTION
    delete:
      tags:
      - Api App
      summary: Dropbox _t__ApiAppDelete::SUMMARY
      description: _t__ApiAppDelete::DESCRIPTION
      operationId: apiAppDelete
      parameters:
      - name: client_id
        in: path
        description: _t__ApiAppDelete::CLIENT_ID
        required: true
        schema:
          type: string
        example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '204':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppDelete.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppDelete.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppDelete.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppDelete.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppDelete.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppDelete.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppDelete.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppDelete.sh
      x-meta:
        seo:
          title: _t__ApiAppDelete::SEO::TITLE
          description: _t__ApiAppDelete::SEO::DESCRIPTION
  /api_app/list:
    get:
      tags:
      - Api App
      summary: Dropbox _t__ApiAppList::SUMMARY
      description: _t__ApiAppList::DESCRIPTION
      operationId: apiAppList
      parameters:
      - name: page
        in: query
        description: _t__ApiAppList::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__ApiAppList::PAGE_SIZE
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppList.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppList.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppList.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppList.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppList.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppList.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppList.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppList.sh
      x-meta:
        seo:
          title: _t__ApiAppList::SEO::TITLE
          description: _t__ApiAppList::SEO::DESCRIPTION
components:
  examples:
    ApiAppListResponseExample:
      summary: _t__ApiAppListResponseExample::SUMMARY
      value:
        $ref: examples/json/ApiAppListResponseExample.json
    Error402ResponseExample:
      summary: _t__Error::402
      value:
        $ref: examples/json/Error402ResponseExample.json
    ApiAppCreateRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/ApiAppCreateRequestDefaultExample.json
    Error403ResponseExample:
      summary: _t__Error::403
      value:
        $ref: examples/json/Error403ResponseExample.json
    Error4XXResponseExample:
      summary: _t__Error::4XX
      value:
        $ref: examples/json/Error4XXResponseExample.json
    Error401ResponseExample:
      summary: _t__Error::401
      value:
        $ref: examples/json/Error401ResponseExample.json
    ApiAppCreateResponseExample:
      summary: _t__ApiAppCreateResponseExample::SUMMARY
      value:
        $ref: examples/json/ApiAppCreateResponseExample.json
    Error400ResponseExample:
      summary: _t__Error::400
      value:
        $ref: examples/json/Error400ResponseExample.json
    Error409ResponseExample:
      summary: _t__Error::409
      value:
        $ref: examples/json/Error409ResponseExample.json
    ApiAppGetResponseExample:
      summary: _t__ApiAppGetResponseExample::SUMMARY
      value:
        $ref: examples/json/ApiAppGetResponseExample.json
    ApiAppUpdateResponseExample:
      summary: _t__ApiAppUpdateResponseExample::SUMMARY
      value:
        $ref: examples/json/ApiAppUpdateResponseExample.json
    Error429ResponseExample:
      summary: _t__Error::429
      value:
        $ref: examples/json/Error429ResponseExample.json
    ApiAppUpdateRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/ApiAppUpdateRequestDefaultExample.json
    Error404ResponseExample:
      summary: _t__Error::404
      value:
        $ref: examples/json/Error404ResponseExample.json
  schemas:
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    SubOAuth:
      description: _t__Sub::OAuth::DESCRIPTION
      properties:
        callback_url:
          description: _t__Sub::OAuth::CALLBACK_URL
          type: string
        scopes:
          description: _t__Sub::OAuth::SCOPES
          type: array
          items:
            type: string
            enum:
            - request_signature
            - basic_account_info
            - account_access
            - signature_request_access
            - template_access
            - team_access
            - api_app_access
            - ''
      type: object
    ApiAppResponseOptions:
      description: _t__ApiAppResponseOptions::DESCRIPTION
      properties:
        can_insert_everywhere:
          description: _t__ApiAppResponseOptions::CAN_INSERT_EVERYWHERE
          type: boolean
      type:
      - object
      - 'null'
      x-internal: true
    SubWhiteLabelingOptions:
      description: _t__Sub::WhiteLabelingOptions::DESCRIPTION
      properties:
        header_background_color:
          type: string
          default: '#1A1A1A'
        legal_version:
          type: string
          default: terms1
          enum:
          - terms1
          - terms2
        link_color:
          type: string
          default: '#00B3E6'
        page_background_color:
          type: string
          default: '#F7F8F9'
        primary_button_color:
          type: string
          default: '#00B3E6'
        primary_button_color_hover:
          type: string
          default: '#00B3E6'
        primary_button_text_color:
          type: string
          default: '#FFFFFF'
        primary_button_text_color_hover:
          type: string
          default: '#FFFFFF'
        secondary_button_color:
          type: string
          default: '#FFFFFF'
        secondary_button_color_hover:
          type: string
          default: '#FFFFFF'
        secondary_button_text_color:
          type: string
          default: '#00B3E6'
        secondary_button_text_color_hover:
          type: string
          default: '#00B3E6'
        text_color1:
          type: string
          default: '#808080'
        text_color2:
          type: string
          default: '#FFFFFF'
        reset_to_default:
          description: _t__Sub::WhiteLabelingOptions::RESET_TO_DEFAULT
          type: boolean
      type: object
    SubOptions:
      description: _t__Sub::Options::DESCRIPTION
      properties:
        can_insert_everywhere:
          description: _t__Sub::Options::CAN_INSERT_EVERYWHERE
          type: boolean
          default: false
      type: object
    ApiAppResponseOAuth:
      description: _t__ApiAppResponseOAuth::DESCRIPTION
      properties:
        callback_url:
          description: _t__ApiAppResponseOAuth::CALLBACK_URL
          type: string
        secret:
          description: _t__ApiAppResponseOAuth::SECRET
          type: string
        scopes:
          description: _t__ApiAppResponseOAuth::SCOPES
          type: array
          items:
            type: string
        charges_users:
          description: _t__ApiAppResponseOAuth::CHARGES_USERS
          type: boolean
      type:
      - object
      - 'null'
      x-internal: true
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
    ApiAppGetResponse:
      properties:
        api_app:
          $ref: '#/components/schemas/ApiAppResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    WarningResponse:
      description: _t__WarningResponse::LIST_DESCRIPTION
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: _t__WarningResponse::WARNING_MSG
          type: string
        warning_name:
          description: _t__WarningResponse::WARNING_NAME
          type: string
      type: object
    ListInfoResponse:
      description: _t__ListInfoResponse::DESCRIPTION
      properties:
        num_pages:
          description: _t__ListInfoResponse::NUM_PAGES
          type: integer
        num_results:
          description: _t__ListInfoResponse::NUM_RESULTS
          type:
          - integer
          - 'null'
        page:
          description: _t__ListInfoResponse::PAGE
          type: integer
        page_size:
          description: _t__ListInfoResponse::PAGE_SIZE
          type: integer
      type: object
      x-internal: true
    ApiAppCreateRequest:
      required:
      - name
      - domains
      properties:
        callback_url:
          description: _t__ApiAppCreate::CALLBACK_URL
          type: string
        custom_logo_file:
          description: _t__ApiAppCreate::CUSTOM_LOGO_FILE
          type: string
          format: binary
        domains:
          description: _t__ApiAppCreate::DOMAINS
          type: array
          items:
            type: string
          maxItems: 2
          minItems: 1
        name:
          description: _t__ApiAppCreate::NAME
          type: string
        oauth:
          $ref: '#/components/schemas/SubOAuth'
        options:
          $ref: '#/components/schemas/SubOptions'
        white_labeling_options:
          $ref: '#/components/schemas/SubWhiteLabelingOptions'
      type: object
    ApiAppResponseOwnerAccount:
      description: _t__ApiAppResponseOwnerAccount::DESCRIPTION
      properties:
        account_id:
          description: _t__ApiAppResponseOwnerAccount::ACCOUNT_ID
          type: string
        email_address:
          description: _t__ApiAppResponseOwnerAccount::EMAIL_ADDRESS
          type: string
      type: object
      x-internal: true
    ApiAppResponseWhiteLabelingOptions:
      description: _t__ApiAppResponseWhiteLabelingOptions::DESCRIPTION
      properties:
        header_background_color:
          type: string
        legal_version:
          type: string
        link_color:
          type: string
        page_background_color:
          type: string
        primary_button_color:
          type: string
        primary_button_color_hover:
          type: string
        primary_button_text_color:
          type: string
        primary_button_text_color_hover:
          type: string
        secondary_button_color:
          type: string
        secondary_button_color_hover:
          type: string
        secondary_button_text_color:
          type: string
        secondary_button_text_color_hover:
          type: string
        text_color1:
          type: string
        text_color2:
          type: string
      type:
      - object
      - 'null'
      x-internal: true
    ApiAppListResponse:
      properties:
        api_apps:
          description: _t__ApiAppListResponse::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/ApiAppResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    ApiAppUpdateRequest:
      properties:
        callback_url:
          description: _t__ApiAppUpdate::CALLBACK_URL
          type: string
        custom_logo_file:
          description: _t__ApiAppUpdate::CUSTOM_LOGO_FILE
          type: string
          format: binary
        domains:
          description: _t__ApiAppUpdate::DOMAINS
          type: array
          items:
            type: string
          maxItems: 2
        name:
          description: _t__ApiAppUpdate::NAME
          type: string
        oauth:
          $ref: '#/components/schemas/SubOAuth'
        options:
          $ref: '#/components/schemas/SubOptions'
        white_labeling_options:
          $ref: '#/components/schemas/SubWhiteLabelingOptions'
      type: object
    ApiAppResponse:
      description: _t__ApiAppResponse::DESCRIPTION
      properties:
        callback_url:
          description: _t__ApiAppResponse::CALLBACK_URL
          type:
          - string
          - 'null'
        client_id:
          description: _t__ApiAppResponse::CLIENT_ID
          type: string
        created_at:
          description: _t__ApiAppResponse::CREATED_AT
          type: integer
        domains:
          description: _t__ApiAppResponse::DOMAINS
          type: array
          items:
            type: string
        name:
          description: _t__ApiAppResponse::NAME
          type: string
        is_approved:
          description: _t__ApiAppResponse::IS_APPROVED
          type: boolean
        oauth:
          $ref: '#/components/schemas/ApiAppResponseOAuth'
        options:
          $ref: '#/components/schemas/ApiAppResponseOptions'
        owner_account:
          $ref: '#/components/schemas/ApiAppResponseOwnerAccount'
        white_labeling_options:
          $ref: '#/components/schemas/ApiAppResponseWhiteLabelingOptions'
      type: object
      x-internal: true
  headers:
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    api_key:
      type: http
      description: _t__OpenApi::AUTH::API_KEY
      scheme: basic
    oauth2:
      type: http
      description: _t__OpenApi::AUTH::OAUTH
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
