openapi: 3.2.0
info:
  title: Dropbox Team API
  version: '1.0'
  description: 'Operations tagged Team across 2 of this provider''s published API definitions: dropbox-openapi-original.yml, dropbox-sign-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.dropbox.com
- url: https://api.hellosign.com/v3
tags:
- name: Team
paths:
  /2/team/features/get_values:
    post:
      tags:
      - Team
      summary: Dropbox features/get_values
      description: '[features/get_values](https://www.dropbox.com/developers/documentation/http/teams#team-features-get_values)


        scope: `team_info.read`


        Get the values for one or more featues. This route allows you to check your account''s capability for what feature you can access or what value you have for certain features.

        Permission : Team information.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"features\": [\n        {\n            \".tag\": \"upload_api_rate_limit\"\n        }, \n        {\n            \".tag\": \"has_team_shared_dropbox\"\n        }\n    ]\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                values:
                - .tag: upload_api_rate_limit
                  upload_api_rate_limit:
                    .tag: limit
                    limit: 25000
                - .tag: has_team_shared_dropbox
                  has_team_shared_dropbox:
                    .tag: has_team_shared_dropbox
                    has_team_shared_dropbox: false
      security:
      - bearerAuth: []
    servers:
    - url: https://api.dropbox.com
  /2/team/get_info:
    post:
      tags:
      - Team
      summary: Dropbox get_info
      description: '[get_info](https://www.dropbox.com/developers/documentation/http/teams#team-get_info)


        scope: `team_info.read`


        Retrieves information about a team.      '
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                name: Dropbox Inc.
                team_id: dbtid:1234abcd
                num_licensed_users: 5
                num_provisioned_users: 2
                policies:
                  sharing:
                    shared_folder_member_policy:
                      .tag: team
                    shared_folder_join_policy:
                      .tag: from_anyone
                    shared_link_create_policy:
                      .tag: team_only
                  emm_state:
                    .tag: disabled
                  office_addin:
                    .tag: disabled
    servers:
    - url: https://api.dropbox.com
  /2/team/token/get_authenticated_admin:
    post:
      tags:
      - Team
      summary: Dropbox token/get_authenticated_admin
      description: '[token/get_authenticated_admin](https://www.dropbox.com/developers/documentation/http/teams#team-token-get_authenticated_admin)


        scope: `team_info.read`


        Returns the member profile of the admin who generated the team access token used to make the call.      '
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                admin_profile:
                  team_member_id: dbmid:FDFSVF-DFSDF
                  email: tami@seagull.com
                  email_verified: false
                  status:
                    .tag: active
                  name:
                    given_name: Franz
                    surname: Ferdinand
                    familiar_name: Franz
                    display_name: Franz Ferdinand (Personal)
                    abbreviated_name: FF
                  membership_type:
                    .tag: full
                  groups:
                  - g:e2db7665347abcd600000000001a2b3c
                  member_folder_id: '20'
                  external_id: '244423'
                  account_id: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  secondary_emails:
                  - email: grape@strawberry.com
                    is_verified: false
                  - email: apple@orange.com
                    is_verified: true
                  joined_on: '2015-05-12T15:50:38Z'
                  profile_photo_url: https://dl-web.dropbox.com/account_photo/get/dbaphid%3AAAHWGmIXV3sUuOmBfTz0wPsiqHUpBWvv3ZA?vers=1556069330102&size=128x128
      security:
      - bearerAuth: []
    servers:
    - url: https://api.dropbox.com
  /team/add_member:
    put:
      tags:
      - Team
      summary: Dropbox _t__TeamAddMember::SUMMARY
      description: _t__TeamAddMember::DESCRIPTION
      operationId: teamAddMember
      parameters:
      - name: team_id
        in: query
        description: _t__TeamAddMember::TEAM_ID
        required: false
        schema:
          type: string
        example: 4fea99bfcf2b26bfccf6cea3e127fb8bb74d8d9c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamAddMemberRequest'
            examples:
              email_address:
                $ref: '#/components/examples/TeamAddMemberRequestEmailAddressExample'
              account_id:
                $ref: '#/components/examples/TeamAddMemberRequestAccountIdExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamAddMemberResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamAddMember.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamAddMember.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamAddMember.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamAddMember.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamAddMember.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamAddMember.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamAddMember.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamAddMember.sh
      x-meta:
        seo:
          title: _t__TeamAddMember::SEO::TITLE
          description: _t__TeamAddMember::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team/create:
    post:
      tags:
      - Team
      summary: Dropbox _t__TeamCreate::SUMMARY
      description: _t__TeamCreate::DESCRIPTION
      operationId: teamCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TeamCreateRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamCreate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamCreate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamCreate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamCreate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamCreate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamCreate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamCreate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamCreate.sh
      x-meta:
        seo:
          title: _t__TeamCreate::SEO::TITLE
          description: _t__TeamCreate::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team/destroy:
    delete:
      tags:
      - Team
      summary: Dropbox _t__TeamDelete::SUMMARY
      description: _t__TeamDelete::DESCRIPTION
      operationId: teamDelete
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamDelete.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamDelete.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamDelete.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamDelete.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamDelete.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamDelete.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamDelete.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamDelete.sh
      x-meta:
        seo:
          title: _t__TeamDelete::SEO::TITLE
          description: _t__TeamDelete::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team:
    get:
      tags:
      - Team
      summary: Dropbox _t__TeamGet::SUMMARY
      description: _t__TeamGet::DESCRIPTION
      operationId: teamGet
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/TeamDoesNotExistResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamGet.sh
      x-meta:
        seo:
          title: _t__TeamGet::SEO::TITLE
          description: _t__TeamGet::SEO::DESCRIPTION
    put:
      tags:
      - Team
      summary: Dropbox _t__TeamUpdate::SUMMARY
      description: _t__TeamUpdate::DESCRIPTION
      operationId: teamUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TeamUpdateRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamUpdateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamUpdate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamUpdate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamUpdate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamUpdate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamUpdate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamUpdate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamUpdate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamUpdate.sh
      x-meta:
        seo:
          title: _t__TeamUpdate::SEO::TITLE
          description: _t__TeamUpdate::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team/info:
    get:
      tags:
      - Team
      summary: Dropbox _t__TeamInfo::SUMMARY
      description: _t__TeamInfo::DESCRIPTION
      operationId: teamInfo
      parameters:
      - name: team_id
        in: query
        description: _t__TeamInfo::TEAM_ID
        required: false
        schema:
          type: string
        example: 4fea99bfcf2b26bfccf6cea3e127fb8bb74d8d9c
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetInfoResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamGetInfoResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamInfo.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamInfo.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamInfo.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamInfo.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamInfo.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamInfo.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamInfo.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamInfo.sh
      x-meta:
        seo:
          title: _t__TeamInfo::SEO::TITLE
          description: _t__TeamInfo::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team/invites:
    get:
      tags:
      - Team
      summary: Dropbox _t__TeamInvites::SUMMARY
      description: _t__TeamInvites::DESCRIPTION
      operationId: teamInvites
      parameters:
      - name: email_address
        in: query
        description: _t__TeamInvites::EMAIL_ADDRESS
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamInvitesResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamInvitesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - account_access
        - basic_account_info
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamInvites.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamInvites.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamInvites.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamInvites.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamInvites.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamInvites.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamInvites.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamInvites.sh
      x-meta:
        seo:
          title: _t__TeamInvites::SEO::TITLE
          description: _t__TeamInvites::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team/members/{team_id}:
    get:
      tags:
      - Team
      summary: Dropbox _t__TeamMembers::SUMMARY
      description: _t__TeamMembers::DESCRIPTION
      operationId: teamMembers
      parameters:
      - name: team_id
        in: path
        description: _t__TeamMembers::TEAM_ID
        required: true
        schema:
          type: string
        example: 4fea99bfcf2b26bfccf6cea3e127fb8bb74d8d9c
      - name: page
        in: query
        description: _t__TeamMembers::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__TeamMembers::PAGE_SIZE
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMembersResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamMembersResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamMembers.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamMembers.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamMembers.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamMembers.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamMembers.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamMembers.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamMembers.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamMembers.sh
      x-meta:
        seo:
          title: _t__TeamMembers::SEO::TITLE
          description: _t__TeamMembers::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team/remove_member:
    post:
      tags:
      - Team
      summary: Dropbox _t__TeamRemoveMember::SUMMARY
      description: _t__TeamRemoveMember::DESCRIPTION
      operationId: teamRemoveMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamRemoveMemberRequest'
            examples:
              email_address:
                $ref: '#/components/examples/TeamRemoveMemberRequestEmailAddressExample'
              account_id:
                $ref: '#/components/examples/TeamRemoveMemberRequestAccountIdExample'
      responses:
        '201':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamRemoveMemberResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamRemoveMember.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamRemoveMember.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamRemoveMember.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamRemoveMember.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamRemoveMember.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamRemoveMember.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamRemoveMember.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamRemoveMember.sh
      x-meta:
        seo:
          title: _t__TeamRemoveMember::SEO::TITLE
          description: _t__TeamRemoveMember::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
  /team/sub_teams/{team_id}:
    get:
      tags:
      - Team
      summary: Dropbox _t__TeamSubTeams::SUMMARY
      description: _t__TeamSubTeams::DESCRIPTION
      operationId: teamSubTeams
      parameters:
      - name: team_id
        in: path
        description: _t__TeamSubTeams::TEAM_ID
        required: true
        schema:
          type: string
        example: 4fea99bfcf2b26bfccf6cea3e127fb8bb74d8d9c
      - name: page
        in: query
        description: _t__TeamSubTeams::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__TeamSubTeams::PAGE_SIZE
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamSubTeamsResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamSubTeamsResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - team_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TeamSubTeams.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TeamSubTeams.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TeamSubTeams.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TeamSubTeams.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TeamSubTeams.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TeamSubTeams.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TeamSubTeams.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TeamSubTeams.sh
      x-meta:
        seo:
          title: _t__TeamSubTeams::SEO::TITLE
          description: _t__TeamSubTeams::SEO::DESCRIPTION
    servers:
    - url: https://api.hellosign.com/v3
components:
  examples:
    TeamGetResponseExample:
      summary: _t__TeamGetResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamGetResponseExample.json
    TeamAddMemberResponseExample:
      summary: _t__TeamAddMemberResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamAddMemberResponseExample.json
    Error402ResponseExample:
      summary: _t__Error::402
      value:
        $ref: examples/json/Error402ResponseExample.json
    TeamMembersResponseExample:
      summary: _t__TeamMembersResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamMembersResponseExample.json
    TeamCreateRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/TeamCreateRequestDefaultExample.json
    TeamInvitesResponseExample:
      summary: _t__TeamInvitesResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamInvitesResponseExample.json
    Error4XXResponseExample:
      summary: _t__Error::4XX
      value:
        $ref: examples/json/Error4XXResponseExample.json
    Error401ResponseExample:
      summary: _t__Error::401
      value:
        $ref: examples/json/Error401ResponseExample.json
    Error403ResponseExample:
      summary: _t__Error::403
      value:
        $ref: examples/json/Error403ResponseExample.json
    TeamGetInfoResponseExample:
      summary: _t__TeamInfoResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamGetInfoResponseExample.json
    TeamCreateResponseExample:
      summary: _t__TeamCreateResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamCreateResponseExample.json
    TeamDoesNotExistResponseExample:
      summary: _t__TeamDoesNotExistResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamDoesNotExistResponseExample.json
    Error400ResponseExample:
      summary: _t__Error::400
      value:
        $ref: examples/json/Error400ResponseExample.json
    TeamSubTeamsResponseExample:
      summary: _t__TeamSubTeamsResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamSubTeamsResponseExample.json
    TeamRemoveMemberRequestEmailAddressExample:
      summary: Email Address Example
      value:
        $ref: examples/json/TeamRemoveMemberRequestEmailAddressExample.json
    TeamUpdateRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/TeamUpdateRequestDefaultExample.json
    TeamAddMemberRequestEmailAddressExample:
      summary: Email Address Example
      value:
        $ref: examples/json/TeamAddMemberRequestEmailAddressExample.json
    TeamRemoveMemberRequestAccountIdExample:
      summary: Account ID Example
      value:
        $ref: examples/json/TeamRemoveMemberRequestAccountIdExample.json
    Error409ResponseExample:
      summary: _t__Error::409
      value:
        $ref: examples/json/Error409ResponseExample.json
    TeamRemoveMemberResponseExample:
      summary: _t__TeamRemoveMemberResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamRemoveMemberResponseExample.json
    TeamAddMemberRequestAccountIdExample:
      summary: Account ID Example
      value:
        $ref: examples/json/TeamAddMemberRequestAccountIdExample.json
    Error429ResponseExample:
      summary: _t__Error::429
      value:
        $ref: examples/json/Error429ResponseExample.json
    TeamUpdateResponseExample:
      summary: _t__TeamUpdateResponseExample::SUMMARY
      value:
        $ref: examples/json/TeamUpdateResponseExample.json
    Error404ResponseExample:
      summary: _t__Error::404
      value:
        $ref: examples/json/Error404ResponseExample.json
  schemas:
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    TeamInvitesResponse:
      properties:
        team_invites:
          description: _t__TeamInvitesResponse::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/TeamInviteResponse'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    TeamInfoResponse:
      properties:
        team_id:
          description: _t__TeamGeneral::TEAM_ID
          type: string
        team_parent:
          $ref: '#/components/schemas/TeamParentResponse'
        name:
          description: _t__TeamGeneral::NAME
          type: string
        num_members:
          description: _t__TeamGeneral::NUM_MEMBERS
          type: integer
        num_sub_teams:
          description: _t__TeamGeneral::NUM_SUB_TEAMS
          type: integer
      type: object
      x-internal: true
    TeamCreateRequest:
      properties:
        name:
          description: _t__TeamCreate::NAME
          type: string
          default: Untitled Team
      type: object
    TeamUpdateRequest:
      properties:
        name:
          description: _t__TeamUpdate::NAME
          type: string
      type: object
    TeamAddMemberRequest:
      properties:
        account_id:
          description: _t__TeamAddMember::ACCOUNT_ID
          type: string
        email_address:
          description: _t__TeamAddMember::EMAIL_ADDRESS
          type: string
          format: email
        role:
          description: _t__TeamAddMember::ROLE
          type: string
          enum:
          - Member
          - Developer
          - Team Manager
          - Admin
      type: object
    TeamInviteResponse:
      properties:
        email_address:
          description: _t__TeamInviteResponse::EMAIL_ADDRESS
          type: string
        team_id:
          description: _t__TeamInviteResponse::TEAM_ID
          type: string
        role:
          description: _t__TeamInviteResponse::ROLE
          type: string
        sent_at:
          description: _t__TeamInviteResponse::SENT_AT
          type: integer
        redeemed_at:
          description: _t__TeamInviteResponse::REDEEMED_AT
          type: integer
        expires_at:
          description: _t__TeamInviteResponse::EXPIRES_AT
          type: integer
      type: object
      x-internal: true
    AccountResponseQuotas:
      description: _t__Account::QUOTA
      properties:
        api_signature_requests_left:
          description: _t__AccountQuota::API_SIGNATURE_REQUESTS_LEFT
          type:
          - integer
          - 'null'
        documents_left:
          description: _t__AccountQuota::DOCUMENTS_LEFT
          type:
          - integer
          - 'null'
        templates_total:
          description: _t__AccountQuota::TEMPLATES_TOTAL
          type:
          - integer
          - 'null'
        templates_left:
          description: _t__AccountQuota::TEMPLATES_LEFT
          type:
          - integer
          - 'null'
        sms_verifications_left:
          description: _t__AccountQuota::SMS_VERIFICATIONS_LEFT
          type:
          - integer
          - 'null'
      type: object
      x-internal: true
    TeamRemoveMemberRequest:
      properties:
        account_id:
          description: _t__TeamRemoveMember::ACCOUNT_ID
          type: string
        email_address:
          description: _t__TeamRemoveMember::EMAIL_ADDRESS
          type: string
          format: email
        new_owner_email_address:
          description: _t__TeamRemoveMember::NEW_OWNER_EMAIL_ADDRESS
          type: string
          format: email
        new_team_id:
          description: _t__TeamRemoveMember::NEW_TEAM_ID
          type: string
        new_role:
          description: _t__TeamRemoveMember::NEW_ROLE
          type: string
          enum:
          - Member
          - Developer
          - Team Manager
          - Admin
      type: object
    TeamResponse:
      description: _t__TeamResponse::DESCRIPTION
      properties:
        name:
          description: _t__Team::NAME
          type: string
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountResponse'
        invited_accounts:
          description: _t__Team::INVITED_ACCOUNTS
          type: array
          items:
            $ref: '#/components/schemas/AccountResponse'
        invited_emails:
          description: _t__Team::INVITED_EMAILS
          type: array
          items:
            type: string
      type: object
      x-internal: true
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
    TeamMembersResponse:
      properties:
        team_members:
          description: _t__TeamMembersResponse::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/TeamMemberResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    WarningResponse:
      description: _t__WarningResponse::LIST_DESCRIPTION
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: _t__WarningResponse::WARNING_MSG
          type: string
        warning_name:
          description: _t__WarningResponse::WARNING_NAME
          type: string
      type: object
    TeamMemberResponse:
      properties:
        account_id:
          description: _t__TeamMemberResponse::ACCOUNT_ID
          type: string
        email_address:
          description: _t__TeamMemberResponse::EMAIL_ADDRESS
          type: string
        role:
          description: _t__TeamMemberResponse::MEMBER_ROLE
          type: string
      type: object
      x-internal: true
    ListInfoResponse:
      description: _t__ListInfoResponse::DESCRIPTION
      properties:
        num_pages:
          description: _t__ListInfoResponse::NUM_PAGES
          type: integer
        num_results:
          description: _t__ListInfoResponse::NUM_RESULTS
          type:
          - integer
          - 'null'
        page:
          description: _t__ListInfoResponse::PAGE
          type: integer
        page_size:
          description: _t__ListInfoResponse::PAGE_SIZE
          type: integer
      type: object
      x-internal: true
    AccountResponse:
      properties:
        account_id:
          description: _t__Account::ACCOUNT_ID
          type: string
        email_address:
          description: _t__Account::EMAIL_ADDRESS
          type: string
        is_locked:
          description: _t__Account::IS_LOCKED
          type: boolean
        is_paid_hs:
          description: _t__Account::IS_PAID_HS
          type: boolean
        is_paid_hf:
          description: _t__Account::IS_PAID_HF
          type: boolean
        quotas:
          $ref: '#/components/schemas/AccountResponseQuotas'
        callback_url:
          description: _t__Account::CALLBACK_URL
          type:
          - string
          - 'null'
        role_code:
          description: _t__Account::ROLE_CODE
          type:
          - string
          - 'null'
        team_id:
          description: _t__Account::TEAM_ID
          type:
          - string
          - 'null'
        locale:
          description: _t__Account::LOCALE
          type:
          - string
          - 'null'
      type: object
      x-internal: true
    TeamSubTeamsResponse:
      properties:
        sub_teams:
          description: _t__SubTeamResponse::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubTeamResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    TeamGetResponse:
      properties:
        team:
          $ref: '#/components/schemas/TeamResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    SubTeamResponse:
      properties:
        team_id:
          description: _t__TeamGeneral::TEAM_ID
          type: string
        name:
          description: _t__TeamGeneral::NAME
          type: string
      type: object
      x-internal: true
    TeamGetInfoResponse:
      properties:
        team:
          $ref: '#/components/schemas/TeamInfoResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    TeamParentResponse:
      description: _t__TeamInfo::TEAM_PARENT
      properties:
        team_id:
          description: _t__TeamGeneral::TEAM_ID
          type: string
        name:
          description: _t__TeamGeneral::NAME
          type: string
      type:
      - object
      - 'null'
      x-internal: true
  headers:
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    api_key:
      type: http
      description: _t__OpenApi::AUTH::API_KEY
      scheme: basic
    oauth2:
      type: http
      description: _t__OpenApi::AUTH::OAUTH
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
x-refined-from:
- dropbox-openapi-original.yml
- dropbox-sign-openapi-original.yml
