openapi: 3.2.0
info:
  title: Dropbox Sign O Auth API
  description: The Dropbox Sign API offers a reliable, flexible set of eSignature tools that can be used to power digital agreements and turn slow, outdated business processes into a competitive advantage. With a broad range of highly-configurable features, the Dropbox Sign API empowers you to build secure signing experiences and document workflows that delight your users.
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
  oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: OAuth
  description: _md__OpenApi::TAG::OAUTH::DESCRIPTION
paths:
  /oauth/token:
    post:
      tags:
      - OAuth
      summary: Dropbox _t__OAuthTokenGenerate::SUMMARY
      description: _t__OAuthTokenGenerate::DESCRIPTION
      operationId: oauthTokenGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenGenerateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenGenerateRequestExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenGenerateResponseExample'
      security: []
      servers:
      - url: https://app.hellosign.com
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/OauthTokenGenerate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/OauthTokenGenerate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/OauthTokenGenerate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/OauthTokenGenerate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/OauthTokenGenerate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/OauthTokenGenerate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/OauthTokenGenerate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/OauthTokenGenerate.sh
      x-meta:
        seo:
          title: _t__OAuthTokenGenerate::SEO::TITLE
          description: _t__OAuthTokenGenerate::SEO::DESCRIPTION
      x-hideTryItPanel: true
  /oauth/token?refresh:
    post:
      tags:
      - OAuth
      summary: Dropbox _t__OAuthTokenRefresh::SUMMARY
      description: _t__OAuthTokenRefresh::DESCRIPTION
      operationId: oauthTokenRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRefreshRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenRefreshRequestExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenRefreshResponseExample'
      security: []
      servers:
      - url: https://app.hellosign.com
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/OauthTokenRefresh.php
      - lang: C#
        label: C#
        source:
          $ref: examples/OauthTokenRefresh.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/OauthTokenRefresh.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/OauthTokenRefresh.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/OauthTokenRefresh.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/OauthTokenRefresh.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/OauthTokenRefresh.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/OauthTokenRefresh.sh
      x-meta:
        seo:
          title: _t__OAuthTokenRefresh::SEO::TITLE
          description: _t__OAuthTokenRefresh::SEO::DESCRIPTION
      x-hideTryItPanel: true
components:
  examples:
    OAuthTokenRefreshRequestExample:
      summary: OAuth Token Refresh Example
      value:
        $ref: examples/json/OAuthTokenRefreshRequestExample.json
    OAuthTokenGenerateRequestExample:
      summary: OAuth Token Generate Example
      value:
        $ref: examples/json/OAuthTokenGenerateRequestExample.json
    OAuthTokenGenerateResponseExample:
      summary: _t__OAuthTokenGenerateResponseExample::SUMMARY
      value:
        $ref: examples/json/OAuthTokenGenerateResponseExample.json
    OAuthTokenRefreshResponseExample:
      summary: _t__OAuthTokenRefreshResponseExample::SUMMARY
      value:
        $ref: examples/json/OAuthTokenRefreshResponseExample.json
  schemas:
    OAuthTokenResponse:
      properties:
        access_token:
          type: string
        token_type:
          type: string
        refresh_token:
          type: string
        expires_in:
          description: _t__OAuthTokenResponse::EXPIRES_IN
          type: integer
        state:
          type:
          - string
          - 'null'
      type: object
      x-internal: true
    OAuthTokenGenerateRequest:
      required:
      - client_id
      - client_secret
      - code
      - state
      - grant_type
      properties:
        client_id:
          description: _t__OAuthTokenGenerate::CLIENT_ID
          type: string
        client_secret:
          description: _t__OAuthTokenGenerate::CLIENT_SECRET
          type: string
        code:
          description: _t__OAuthTokenGenerate::CODE
          type: string
        grant_type:
          description: _t__OAuthTokenGenerate::GRANT_TYPE
          type: string
          default: authorization_code
        state:
          description: _t__OAuthTokenGenerate::STATE
          type: string
      type: object
    OAuthTokenRefreshRequest:
      required:
      - grant_type
      - refresh_token
      properties:
        grant_type:
          description: _t__OAuthTokenRefresh::GRANT_TYPE
          type: string
          default: refresh_token
        refresh_token:
          description: _t__OAuthTokenRefresh::REFRESH_TOKEN
          type: string
      type: object
  headers:
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    api_key:
      type: http
      description: _t__OpenApi::AUTH::API_KEY
      scheme: basic
    oauth2:
      type: http
      description: _t__OpenApi::AUTH::OAUTH
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
