openapi: 3.0.0
info:
  title: Dropbox API Reference Account Signature Request API
  description: "The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways. This is a collection that includes requests to all endpoints in the Dropbox API. \n\nThe Dropbox API is divided in two groups of endpoints: User Endpoints and Business Endpoints. Operations that would most likely be executed by a user, such as file operations, are in the User Endpoints folder. Operations that would most likely be executed by a team administrator, such as adding users to groups, live in the Business Endpoints folder. \n\nIf you are new to Dropbox Business and Team Administration, please have a look at the [Dropobox Admin Guide](https://help.dropbox.com/guide/admin/how-to-get-started#dropbox-admin-guide). \n\nIf you want more information on how to use our API please refer to our [Developer Portal](https://www.dropbox.com/developers). \n\n# What's in the collection?\n\nThe endpoints are organized in the following folders:\n* account\n* auth\n* check\n* contacts\n* file_properties\n* file_requests\n* files\n* sharing\n* team\n* team_log\n* users\n\n# Authorization\n\n## OAuth 2.0 for API Access\nDropbox uses OAuth 2.0, an open specification, to authorize access to data. To get an OAuth token from Dropbox to enable Postman to access your Dropbox account via the API you’ll need to create a new app on the DBX Platform.\n\n## Creating an App on the DBX Platform\nNavigate to https://www.dropbox.com/developers/apps and select “Create app” \n1. Choose an API  \n2. Choose the type of access you need \n3. Give your app a name  \n4. Choose the Dropbox account that will own your app  \n\nFor reference, please use the [Dropbox OAuth guide](https://www.dropbox.com/lp/developers/reference/oauth-guide) \n\n## Generating an Access Token\nOnce you select “Create app” a page will load that displays information about your newly created app. To generate an access token scroll down to “OAuth 2” and click “Generate” beneath “Generated access token.” The token will display as a long string of characters. Copy this token for use with the Postman Collection.\n\n## Adding an Access Token to the requests\nIn the Postman client, click on the three dots to the right of the collection name to \"View more actions.\"\n\n![Screenshot of adding access token](https://www.dropbox.com/s/sfebu9ai76cbq39/Screen%20Shot%202020-10-28%20at%2012.50.56%20AM.png?raw=1)\n\nThen, click \"Edit.\"\n\nClick on the \"Variables\" tab and, in the row for the `access_token` variable, paste your access token in the `CURRENT VALUE` column. The default value is `your-access-token-here`.\n\n![Screenshot of adding access token](https://www.dropbox.com/s/ahnbxwe6oscjues/Screen%20Shot%202020-10-28%20at%2012.51.13%20AM.png?raw=1)\n\nFor information on sessions and variables in Postman see the blog post at https://blog.postman.com/sessions-faq/.\n\n# Notes\n* Dropbox also has a Postman Collection in the API Network to help administrators with team management workflows. It is called [Dropbox Team Admin Workflows](). \n\n"
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Signature Request
  description: _md__OpenApi::TAG::SIGNATURE_REQUEST::DESCRIPTION
paths:
  /signature_request/bulk_create_embedded_with_template:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestBulkCreateEmbeddedWithTemplate::SUMMARY
      description: _t__SignatureRequestBulkCreateEmbeddedWithTemplate::DESCRIPTION
      operationId: signatureRequestBulkCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: _t__SignatureRequestBulkCreateEmbeddedWithTemplate::SEO::TITLE
          description: _t__SignatureRequestBulkCreateEmbeddedWithTemplate::SEO::DESCRIPTION
  /signature_request/bulk_send_with_template:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestBulkSendWithTemplate::SUMMARY
      description: _t__SignatureRequestBulkSendWithTemplate::DESCRIPTION
      operationId: signatureRequestBulkSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.sh
      x-meta:
        seo:
          title: _t__SignatureRequestBulkSendWithTemplate::SEO::TITLE
          description: _t__SignatureRequestBulkSendWithTemplate::SEO::DESCRIPTION
  /signature_request/cancel/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestCancel::SUMMARY
      description: _t__SignatureRequestCancel::DESCRIPTION
      operationId: signatureRequestCancel
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestCancel::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {}
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCancel.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCancel.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestCancel.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCancel.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCancel.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCancel.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCancel.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCancel.sh
      x-meta:
        seo:
          title: _t__SignatureRequestCancel::SEO::TITLE
          description: _t__SignatureRequestCancel::SEO::DESCRIPTION
  /signature_request/create_embedded:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestCreateEmbedded::SUMMARY
      description: _t__SignatureRequestCreateEmbedded::DESCRIPTION
      operationId: signatureRequestCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestGroupedSignersExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCreateEmbedded.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCreateEmbedded.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestCreateEmbedded.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCreateEmbedded.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCreateEmbedded.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCreateEmbedded.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCreateEmbedded.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCreateEmbedded.sh
      x-meta:
        seo:
          title: _t__SignatureRequestCreateEmbedded::SEO::TITLE
          description: _t__SignatureRequestCreateEmbedded::SEO::DESCRIPTION
  /signature_request/create_embedded_with_template:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestCreateEmbeddedWithTemplate::SUMMARY
      description: _t__SignatureRequestCreateEmbeddedWithTemplate::DESCRIPTION
      operationId: signatureRequestCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: _t__SignatureRequestCreateEmbeddedWithTemplate::SEO::TITLE
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::SEO::DESCRIPTION
  /signature_request/edit/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestEdit::SUMMARY
      description: _t__SignatureRequestEdit::DESCRIPTION
      operationId: signatureRequestEdit
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestEdit::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestEditRequestGroupedSignersExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEdit.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEdit.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEdit.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEdit.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEdit.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEdit.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEdit.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEdit.sh
      x-meta:
        seo:
          title: _t__SignatureRequestEdit::SEO::TITLE
          description: _t__SignatureRequestEdit::SEO::DESCRIPTION
      x-hideOn: doc
      x-beta: closed
  /signature_request/edit_embedded/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestEditEmbedded::SUMMARY
      description: _t__SignatureRequestEditEmbedded::DESCRIPTION
      operationId: signatureRequestEditEmbedded
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestEditEmbedded::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedRequestGroupedSignersExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditEmbeddedResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditEmbedded.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditEmbedded.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEditEmbedded.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditEmbedded.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditEmbedded.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditEmbedded.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditEmbedded.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditEmbedded.sh
      x-meta:
        seo:
          title: _t__SignatureRequestEditEmbedded::SEO::TITLE
          description: _t__SignatureRequestEditEmbedded::SEO::DESCRIPTION
      x-hideOn: doc
      x-beta: closed
  /signature_request/edit_embedded_with_template/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestEditEmbeddedWithTemplate::SUMMARY
      description: _t__SignatureRequestEditEmbeddedWithTemplate::DESCRIPTION
      operationId: signatureRequestEditEmbeddedWithTemplate
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestEditEmbeddedWithTemplate::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditEmbeddedWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: _t__SignatureRequestEditEmbeddedWithTemplate::SEO::TITLE
          description: _t__SignatureRequestEditEmbeddedWithTemplate::SEO::DESCRIPTION
      x-hideOn: doc
      x-beta: closed
  /signature_request/edit_with_template/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestEditWithTemplate::SUMMARY
      description: _t__SignatureRequestEditWithTemplate::DESCRIPTION
      operationId: signatureRequestEditWithTemplate
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestEditWithTemplate::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEditWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditWithTemplate.sh
      x-meta:
        seo:
          title: _t__SignatureRequestEditWithTemplate::SEO::TITLE
          description: _t__SignatureRequestEditWithTemplate::SEO::DESCRIPTION
      x-hideOn: doc
      x-beta: closed
  /signature_request/files/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestFiles::SUMMARY
      description: _t__SignatureRequestFiles::DESCRIPTION
      operationId: signatureRequestFiles
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestFiles::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      - name: file_type
        in: query
        description: _t__SignatureRequestFiles::FILE_TYPE
        schema:
          type: string
          default: pdf
          enum:
          - pdf
          - zip
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFiles.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestFiles.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestFiles.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestFiles.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestFiles.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestFiles.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestFiles.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestFiles.sh
      x-meta:
        seo:
          title: _t__SignatureRequestFiles::SEO::TITLE
          description: _t__SignatureRequestFiles::SEO::DESCRIPTION
  /signature_request/files_as_data_uri/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestFilesAsDataUri::SUMMARY
      description: _t__SignatureRequestFilesAsDataUri::DESCRIPTION
      operationId: signatureRequestFilesAsDataUri
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestFiles::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponseDataUri'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.sh
      x-meta:
        seo:
          title: _t__SignatureRequestFiles::SEO::TITLE
          description: _t__SignatureRequestFiles::SEO::DESCRIPTION
  /signature_request/files_as_file_url/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestFilesAsFileUrl::SUMMARY
      description: _t__SignatureRequestFilesAsFileUrl::DESCRIPTION
      operationId: signatureRequestFilesAsFileUrl
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestFiles::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      - name: force_download
        in: query
        description: _t__SignatureRequestFiles::FORCE_DOWNLOAD
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestFilesAsFileUrl.sh
      x-meta:
        seo:
          title: _t__SignatureRequestFiles::SEO::TITLE
          description: _t__SignatureRequestFiles::SEO::DESCRIPTION
  /signature_request/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestGet::SUMMARY
      description: _t__SignatureRequestGet::DESCRIPTION
      operationId: signatureRequestGet
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestGet::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestGet.sh
      x-meta:
        seo:
          title: _t__SignatureRequestGet::SEO::TITLE
          description: _t__SignatureRequestGet::SEO::DESCRIPTION
  /signature_request/list:
    get:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestList::SUMMARY
      description: _t__SignatureRequestList::DESCRIPTION
      operationId: signatureRequestList
      parameters:
      - name: account_id
        in: query
        description: _t__SignatureRequestList::ACCOUNT_ID
        schema:
          type: string
      - name: page
        in: query
        description: _t__SignatureRequestList::PAGE
        schema:
          type: integer
          default: 1
          example: 1
      - name: page_size
        in: query
        description: _t__SignatureRequestList::PAGE_SIZE
        schema:
          type: integer
          default: 20
      - name: query
        in: query
        description: _t__SignatureRequestList::QUERY
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestList.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestList.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestList.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestList.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestList.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestList.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestList.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestList.sh
      x-meta:
        seo:
          title: _t__SignatureRequestList::SEO::TITLE
          description: _t__SignatureRequestList::SEO::DESCRIPTION
  /signature_request/release_hold/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestReleaseHold::SUMMARY
      description: _t__SignatureRequestReleaseHold::DESCRIPTION
      operationId: signatureRequestReleaseHold
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestReleaseHold::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestReleaseHoldResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestReleaseHold.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestReleaseHold.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestReleaseHold.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestReleaseHold.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestReleaseHold.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestReleaseHold.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestReleaseHold.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestReleaseHold.sh
      x-meta:
        seo:
          title: _t__SignatureRequestReleaseHold::SEO::TITLE
          description: _t__SignatureRequestReleaseHold::SEO::DESCRIPTION
  /signature_request/remind/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestRemind::SUMMARY
      description: _t__SignatureRequestRemind::DESCRIPTION
      operationId: signatureRequestRemind
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestRemind::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestRemindRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestRemindRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestRemindResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestRemind.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestRemind.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestRemind.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestRemind.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestRemind.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestRemind.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestRemind.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestRemind.sh
      x-meta:
        seo:
          title: _t__SignatureRequestRemind::SEO::TITLE
          description: _t__SignatureRequestRemind::SEO::DESCRIPTION
  /signature_request/remove/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestRemove::SUMMARY
      description: _t__SignatureRequestRemove::DESCRIPTION
      operationId: signatureRequestRemove
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestRemove::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {}
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestRemove.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestRemove.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestRemove.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestRemove.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestRemove.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestRemove.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestRemove.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestRemove.sh
      x-meta:
        seo:
          title: _t__SignatureRequestRemove::SEO::TITLE
          description: _t__SignatureRequestRemove::SEO::DESCRIPTION
  /signature_request/send:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestSend::SUMMARY
      description: _t__SignatureRequestSend::DESCRIPTION
      operationId: signatureRequestSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestSendRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestSendRequestGroupedSignersExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestSendResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestSend.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestSend.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestSend.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestSend.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestSend.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestSend.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestSend.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestSend.sh
      x-meta:
        seo:
          title: _t__SignatureRequestSend::SEO::TITLE
          description: _t__SignatureRequestSend::SEO::DESCRIPTION
  /signature_request/send_with_template:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestSendWithTemplate::SUMMARY
      description: _t__SignatureRequestSendWithTemplate::DESCRIPTION
      operationId: signatureRequestSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestSendWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestSendWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestSendWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestSendWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestSendWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestSendWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestSendWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestSendWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestSendWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestSendWithTemplate.sh
      x-meta:
        seo:
          title: _t__SignatureRequestSendWithTemplate::SEO::TITLE
          description: _t__SignatureRequestSendWithTemplate::SEO::DESCRIPTION
  /signature_request/update/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Dropbox _t__SignatureRequestUpdate::SUMMARY
      description: _t__SignatureRequestUpdate::DESCRIPTION
      operationId: signatureRequestUpdate
      parameters:
      - name: signature_request_id
        in: path
        description: _t__SignatureRequestUpdate::SIGNATURE_REQUEST_ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestUpdateRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestUpdateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestUpdate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestUpdate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestUpdate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestUpdate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestUpdate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestUpdate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestUpdate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestUpdate.sh
      x-meta:
        seo:
          title: _t__SignatureRequestUpdate::SEO::TITLE
          description: _t__SignatureRequestUpdate::SEO::DESCRIPTION
components:
  schemas:
    SubFormFieldRuleTrigger:
      required:
      - id
      - operator
      properties:
        id:
          description: _t__Sub::FormFieldRuleTrigger::ID
          type: string
        operator:
          description: _t__Sub::FormFieldRuleTrigger::OPERATOR
          type: string
          enum:
          - any
          - is
          - match
          - none
          - not
        value:
          description: _t__Sub::FormFieldRuleTrigger::VALUE_SINGLE
          type: string
        values:
          description: _t__Sub::FormFieldRuleTrigger::VALUE_MULTI
          type: array
          items:
            type: string
      type: object
    SignatureRequestResponseCustomFieldBase:
      description: _t__SignatureRequestResponseCustomField::DESCRIPTION
      required:
      - name
      - type
      properties:
        type:
          description: _t__SignatureRequestResponseCustomField::TYPE
          type: string
        name:
          description: _t__SignatureRequestResponseCustomField::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseCustomField::REQUIRED
          type: boolean
        api_id:
          description: _t__SignatureRequestResponseCustomField::API_ID
          type: string
        editor:
          description: _t__SignatureRequestResponseCustomField::EDITOR
          type: string
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SignatureRequestResponseCustomFieldText'
          checkbox: '#/components/schemas/SignatureRequestResponseCustomFieldCheckbox'
      x-internal: true
      x-base-class: true
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
    ListInfoResponse:
      description: _t__ListInfoResponse::DESCRIPTION
      properties:
        num_pages:
          description: _t__ListInfoResponse::NUM_PAGES
          type: integer
        num_results:
          description: _t__ListInfoResponse::NUM_RESULTS
          type: integer
          nullable: true
        page:
          description: _t__ListInfoResponse::PAGE
          type: integer
        page_size:
          description: _t__ListInfoResponse::PAGE_SIZE
          type: integer
      type: object
      x-internal: true
    BulkSendJobResponse:
      description: _t__BulkSendJobResponse::DESCRIPTION
      properties:
        bulk_send_job_id:
          description: _t__BulkSendJobResponse::BULK_SEND_JOB_ID
          type: string
          nullable: true
        total:
          description: _t__BulkSendJobResponse::TOTAL
          type: integer
        is_creator:
          description: _t__BulkSendJobResponse::IS_CREATOR
          type: boolean
        created_at:
          description: _t__BulkSendJobResponse::CREATED_AT
          type: integer
      type: object
      x-internal: true
    SubCustomField:
      description: _t__Sub::CustomField::DESCRIPTION
      required:
      - name
      properties:
        editor:
          description: _t__Sub::CustomField::EDITOR
          type: string
        name:
          description: _t__Sub::CustomField::NAME
          type: string
        required:
          description: _t__Sub::CustomField::REQUIRED
          type: boolean
          default: false
        value:
          description: _t__Sub::CustomField::VALUE
          type: string
      type: object
    SubCC:
      required:
      - role
      - email_address
      properties:
        role:
          description: _t__Sub::CC::ROLE
          type: string
        email_address:
          description: _t__Sub::CC::EMAIL_ADDRESS
          type: string
          format: email
      type: object
    SubFormFieldRuleAction:
      required:
      - hidden
      - type
      properties:
        field_id:
          description: _t__Sub::FormFieldRuleAction::FIELD_ID
          type: string
        group_id:
          description: _t__Sub::FormFieldRuleAction::GROUP_ID
          type: string
        hidden:
          description: _t__Sub::FormFieldRuleAction::HIDDEN
          type: boolean
        type:
          type: string
          enum:
          - change-field-visibility
          - change-group-visibility
      type: object
    SignatureRequestResponseSignatures:
      description: _t__SignatureRequestResponseSignatures::DESCRIPTION
      properties:
        signature_id:
          description: _t__SignatureRequestResponseSignatures::SIGNATURE_ID
          type: string
        signer_group_guid:
          description: _t__SignatureRequestResponseSignatures::SIGNER_GROUP_GUID
          type: string
          nullable: true
        signer_email_address:
          description: _t__SignatureRequestResponseSignatures::SIGNER_EMAIL_ADDRESS
          type: string
        signer_name:
          description: _t__SignatureRequestResponseSignatures::SIGNER_NAME
          type: string
          nullable: true
        signer_role:
          description: _t__SignatureRequestResponseSignatures::SIGNER_ROLE
          type: string
          nullable: true
        order:
          description: _t__SignatureRequestResponseSignatures::ORDER
          type: integer
          nullable: true
        status_code:
          description: _t__SignatureRequestResponseSignatures::STATUS_CODE
          type: string
        decline_reason:
          description: _t__SignatureRequestResponseSignatures::DECLINE_REASON
          type: string
          nullable: true
        signed_at:
          description: _t__SignatureRequestResponseSignatures::SIGNED_AT
          type: integer
          nullable: true
        last_viewed_at:
          description: _t__SignatureRequestResponseSignatures::LAST_VIEWED_AT
          type: integer
          nullable: true
        last_reminded_at:
          description: _t__SignatureRequestResponseSignatures::LAST_REMINDED_AT
          type: integer
          nullable: true
        has_pin:
          description: _t__SignatureRequestResponseSignatures::HAS_PIN
          type: boolean
        has_sms_auth:
          description: _t__SignatureRequestResponseSignatures::HAS_SMS_AUTH
          type: boolean
          nullable: true
        has_sms_delivery:
          description: _t__SignatureRequestResponseSignatures::HAS_SMS_DELIVERY
          type: boolean
          nullable: true
        sms_phone_number:
          description: _t__SignatureRequestResponseSignatures::SMS_PHONE_NUMBER
          type: string
          nullable: true
        reassigned_by:
          description: _t__SignatureRequestResponseSignatures::REASSIGNED_BY
          type: string
          nullable: true
        reassignment_reason:
          description: _t__SignatureRequestResponseSignatures::REASSIGNMENT_REASON
          type: string
          nullable: true
        reassigned_from:
          description: _t__SignatureRequestResponseSignatures::REASSIGNED_FROM
          type: string
          nullable: true
        error:
          description: _t__SignatureRequestResponseSignatures::ERROR
          type: string
          nullable: true
      type: object
      x-internal: true
    SignatureRequestEditWithTemplateRequest:
      description: ''
      required:
      - signers
      - template_ids
      properties:
        template_ids:
          description: _t__SignatureRequestSendWithTemplate::TEMPLATE_IDS
          type: array
          items:
            type: string
        allow_decline:
          description: _t__SignatureRequestSendWithTemplate::ALLOW_DECLINE
          type: boolean
          default: false
        ccs:
          description: _t__Sub::CC::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubCC'
        client_id:
          description: _t__SignatureRequestSendWithTemplate::CLIENT_ID
          type: string
        custom_fields:
          description: _t__Sub::CustomField::TEMPLATE
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        files:
          description: _t__SignatureRequestSendWithTemplate::FILES
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: _t__SignatureRequestSendWithTemplate::FILE_URLS
          type: array
          items:
            type: string
        is_qualified_signature:
          description: _t__SignatureRequestSendWithTemplate::IS_QUALIFIED_SIGNATURE
          type: boolean
          default: false
          deprecated: true
          x-hideOn: doc
        is_eid:
          description: _t__SignatureRequestSendWithTemplate::IS_EID
          type: boolean
          default: false
        message:
          description: _t__SignatureRequestSendWithTemplate::MESSAGE
          type: string
          maxLength: 5000
        metadata:
          description: _t__Sub::Metadata::DESCRIPTION
          type: object
          maxItems: 10
          additionalProperties: {}
        signers:
          description: _t__Sub::SignatureRequestTemplateSigner::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestTemplateSigner'
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        signing_redirect_url:
          description: _t__SignatureRequestSendWithTemplate::SIGNING_REDIRECT_URL
          type: string
        subject:
          description: _t__SignatureRequestSendWithTemplate::SUBJECT
          type: string
          maxLength: 255
        test_mode:
          description: _t__SignatureRequestSendWithTemplate::TEST_MODE
          type: boolean
          default: false
        title:
          description: _t__SignatureRequestSendWithTemplate::TITLE
          type: string
          maxLength: 255
      type: object
    SignatureRequestResponseDataBase:
      description: _t__SignatureRequestResponseData::DESCRIPTION
      properties:
        api_id:
          description: _t__SignatureRequestResponseData::API_ID
          type: string
        signature_id:
          description: _t__SignatureRequestResponseData::SIGNATURE_ID
          type: string
        name:
          description: _t__SignatureRequestResponseData::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseData::REQUIRED
          type: boolean
        type:
          type: string
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SignatureRequestResponseDataValueText'
          checkbox: '#/components/schemas/SignatureRequestResponseDataValueCheckbox'
          dropdown: '#/components/schemas/SignatureRequestResponseDataValueDropdown'
          radio: '#/components/schemas/SignatureRequestResponseDataValueRadio'
          signature: '#/components/schemas/SignatureRequestResponseDataValueSignature'
          date_signed: '#/components/schemas/SignatureRequestResponseDataValueDateSigned'
          initials: '#/components/schemas/SignatureRequestResponseDataValueInitials'
          text-merge: '#/components/schemas/SignatureRequestResponseDataValueTextMerge'
          checkbox-merge: '#/components/schemas/SignatureRequestResponseDataValueCheckboxMerge'
      x-internal: true
      x-base-class: true
    FileResponse:
      properties:
        file_url:
          description: _t__FileResponse::FILE_URL
          type: string
        expires_at:
          description: _t__FileResponse::EXPIRES_AT
          type: integer
      type: object
      x-internal: true
    SignatureRequestRemindRequest:
      required:
      - email_address
      properties:
        email_address:
          description: _t__SignatureRequestRemind::EMAIL_ADDRESS
          type: string
          format: email
        name:
          description: _t__SignatureRequestRemind::NAME
          type: string
      type: object
    SubFieldOptions:
      description: _t__Sub::FieldOptions::DESCRIPTION
      required:
      - date_format
      properties:
        date_format:
          description: _t__Sub::FieldOptions::DATE_FORMAT
          type: string
          enum:
          - MM / DD / YYYY
          - MM - DD - YYYY
          - DD / MM / YYYY
          - DD - MM - YYYY
          - YYYY / MM / DD
          - YYYY - MM - DD
          x-enum-varnames:
          - MMDDYYYY
          - MM_DD_YYYY
          - DDMMYYYY
          - DD_MM_YYYY
          - YYYYMMDD
          - YYYY_MM_DD
      type: object
    SubBulkSignerList:
      properties:
        custom_fields:
          description: _t__Sub::BulkCustomField::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubBulkSignerListCustomField'
        signers:
          description: _t__Sub::BulkSigner::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestTemplateSigner'
      type: object
    SubSigningOptions:
      description: _t__Sub::SigningOptions::DESCRIPTION
      required:
      - default_type
      properties:
        default_type:
          description: _t__Sub::SigningOptions::DEFAULT
          type: string
          enum:
          - draw
          - phone
          - type
          - upload
        draw:
          description: _t__Sub::SigningOptions::DRAW
          type: boolean
          default: false
        phone:
          description: _t__Sub::SigningOptions::PHONE
          type: boolean
          default: false
        type:
          description: _t__Sub::SigningOptions::TYPE
          type: boolean
          default: false
        upload:
          description: _t__Sub::SigningOptions::UPLOAD
          type: boolean
          default: false
      type: object
    SubFormFieldsPerDocumentBase:
      description: _t__Sub::FormFieldsPerDocument::DESCRIPTION
      required:
      - document_index
      - api_id
      - type
      - required
      - signer
      - width
      - height
      - x
      - y
      properties:
        document_index:
          description: _t__Sub::FormFieldsPerDocument::DOCUMENT_INDEX
          type: integer
        api_id:
          description: _t__Sub::FormFieldsPerDocument::API_ID
          type: string
        height:
          description: _t__Sub::FormFieldsPerDocument::HEIGHT
          type: integer
        name:
          description: _t__Sub::FormFieldsPerDocument::NAME
          type: string
        page:
          description: _t__Sub::FormFieldsPerDocument::PAGE
          type: integer
          nullable: true
        required:
          description: _t__Sub::FormFieldsPerDocument::REQUIRED
          type: boolean
        signer:
          description: _t__Sub::FormFieldsPerDocument::SIGNER
          type: string
          x-int-or-string: true
        type:
          type: string
        width:
          description: _t__Sub::FormFieldsPerDocument::WIDTH
          type: integer
        x:
          description: _t__Sub::FormFieldsPerDocument::X
          type: integer
        y:
          description: _t__Sub::FormFieldsPerDocument::Y
          type: integer
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SubFormFieldsPerDocumentText'
          dropdown: '#/components/schemas/SubFormFieldsPerDocumentDropdown'
          hyperlink: '#/components/schemas/SubFormFieldsPerDocumentHyperlink'
          checkbox: '#/components/schemas/SubFormFieldsPerDocumentCheckbox'
          radio: '#/components/schemas/SubFormFieldsPerDocumentRadio'
          signature: '#/components/schemas/SubFormFieldsPerDocumentSignature'
          date_signed: '#/components/schemas/SubFormFieldsPerDocumentDateSigned'
          initials: '#/components/schemas/SubFormFieldsPerDocumentInitials'
          text-merge: '#/components/schemas/SubFormFieldsPerDocumentTextMerge'
          checkbox-merge: '#/components/schemas/SubFormFieldsPerDocumentCheckboxMerge'
      x-internal: true
      x-base-class: true
    SignatureRequestEditEmbeddedWithTemplateRequest:
      required:
      - client_id
      - template_ids
      - signers
      properties:
        template_ids:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::TEMPLATE_IDS
          type: array
          items:
            type: string
        allow_decline:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::ALLOW_DECLINE
          type: boolean
          default: false
        ccs:
          description: _t__Sub::CC::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubCC'
        client_id:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::CLIENT_ID
          type: string
        custom_fields:
          description: _t__Sub::CustomField::TEMPLATE
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        files:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::FILES
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::FILE_URLS
          type: array
          items:
            type: string
        message:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::MESSAGE
          type: string
          maxLength: 5000
        metadata:
          description: _t__Sub::Metadata::DESCRIPTION
          type: object
          maxItems: 10
          additionalProperties: {}
        signers:
          description: _t__Sub::SignatureRequestTemplateSigner::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestTemplateSigner'
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        subject:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::SUBJECT
          type: string
          maxLength: 255
        test_mode:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::TEST_MODE
          type: boolean
          default: false
        title:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::TITLE
          type: string
          maxLength: 255
        populate_auto_fill_fields:
          description: _t__SignatureRequestCreateEmbeddedWithTemplate::POPULATE_AUTO_FILL_FIELDS
          type: boolean
          default: false
      type: object
    FileResponseDataUri:
      properties:
        data_uri:
          description: _t__FileResponse::DATA_URI
          type: string
      type: object
      x-internal: true
    SignatureRequestSendRequest:
      properties:
        files:
          description: _t__SignatureRequestSend::FILES
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: _t__SignatureRequestSend::FILE_URLS
          type: array
          items:
            type: string
        signers:
          description: _t__Sub::SignatureRequestSigner::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestSigner'
        grouped_signers:
          description: _t__Sub::SignatureRequestGroupedSigners::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestGroupedSigners'
        allow_decline:
          description: _t__SignatureRequestSend::ALLOW_DECLINE
          type: boolean
          default: false
        allow_reassign:
          description: _t__SignatureRequestSend::ALLOW_REASSIGN
          type: boolean
          default: false
        attachments:
          description: _t__SubAttachment::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubAttachment'
        cc_email_addresses:
          description: _t__SignatureRequestSend::CC_EMAIL_ADDRESSES
          type: array
          items:
            type: string
            format: email
        client_id:
          description: _t__SignatureRequestSend::CLIENT_ID
          type: string
        custom_fields:
          description: _t__Sub::CustomField::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        field_options:
          $ref: '#/components/schemas/SubFieldOptions'
        form_field_groups:
          description: _t__Sub::FormFieldGroup::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldGroup'
        form_field_rules:
          description: _t__Sub::FormFieldRule::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRule'
        form_fields_per_document:
          description: _t__Sub::FormFieldsPerDocument::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldsPerDocumentBase'
        hide_text_tags:
          description: _t__SignatureRequestSend::HIDE_TEXT_TAGS
          type: boolean
          default: false
        is_qualified_signature:
          description: _t__SignatureRequestSend::IS_QUALIFIED_SIGNATURE
          type: boolean
          default: false
          deprecated: true
          x-hideOn: doc
        is_eid:
          description: _t__SignatureRequestSend::IS_EID
          type: boolean
          default: false
        message:
          description: _t__SignatureRequestSend::MESSAGE
          type: string
          maxLength: 5000
        metadata:
          description: _t__Sub::Metadata::DESCRIPTION
          type: object
          maxItems: 10
          additionalProperties: {}
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        signing_redirect_url:
          description: _t__SignatureRequestSend::SIGNING_REDIRECT_URL
          type: string
        subject:
          description: _t__SignatureRequestSend::SUBJECT
          type: string
          maxLength: 255
        test_mode:
          description: _t__SignatureRequestSend::TEST_MODE
          type: boolean
          default: false
        title:
          description: _t__SignatureRequestSend::TITLE
          type: string
          maxLength: 255
        use_text_tags:
          description: _t__SignatureRequestSend::USE_PREEXISTING_FIELDS
          type: boolean
          default: false
        expires_at:
          description: _t__SignatureRequestSend::EXPIRES_AT
          type: integer
          nullable: true
      type: object
    SubFormFieldGroup:
      required:
      - group_id
      - group_label
      - requirement
      properties:
        group_id:
          description: _t__Sub::FormFieldGroup::GROUP_ID_LABEL
          type: string
        group_label:
          description: _t__Sub::FormFieldGroup::GROUP_LABEL
          type: string
        requirement:
          description: _t__Sub::FormFieldGroup::REQUIREMENT
          type: string
      type: object
    SignatureRequestGetResponse:
      properties:
        signature_request:
          $ref: '#/components/schemas/SignatureRequestResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    SignatureRequestUpdateRequest:
      required:
      - signature_id
      properties:
        email_address:
          description: _t__SignatureRequestUpdate::EMAIL_ADDRESS
          type: string
          format: email
        name:
          description: _t__SignatureRequestUpdate::NAME
          type: string
        signature_id:
          description: _t__SignatureRequestUpdate::SIGNATURE_ID
          type: string
        expires_at:
[...]
