openapi: 3.2.0
info:
  title: Dropbox Sign Report API
  description: The Dropbox Sign API offers a reliable, flexible set of eSignature tools that can be used to power digital agreements and turn slow, outdated business processes into a competitive advantage. With a broad range of highly-configurable features, the Dropbox Sign API empowers you to build secure signing experiences and document workflows that delight your users.
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
  oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: Report
  description: _md__OpenApi::TAG::REPORT::DESCRIPTION
paths:
  /report/create:
    post:
      tags:
      - Report
      summary: Dropbox _t__ReportCreate::SUMMARY
      description: _t__ReportCreate::DESCRIPTION
      operationId: reportCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ReportCreateRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ReportCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ReportCreate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ReportCreate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ReportCreate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ReportCreate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ReportCreate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ReportCreate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ReportCreate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ReportCreate.sh
      x-meta:
        seo:
          title: _t__ReportCreate::SEO::TITLE
          description: _t__ReportCreate::SEO::DESCRIPTION
components:
  schemas:
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    WarningResponse:
      description: _t__WarningResponse::LIST_DESCRIPTION
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: _t__WarningResponse::WARNING_MSG
          type: string
        warning_name:
          description: _t__WarningResponse::WARNING_NAME
          type: string
      type: object
    ReportCreateResponse:
      properties:
        report:
          $ref: '#/components/schemas/ReportResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    ReportCreateRequest:
      required:
      - start_date
      - end_date
      - report_type
      properties:
        end_date:
          description: _t__ReportCreate::END_DATE
          type: string
        report_type:
          description: _t__ReportCreate::REPORT_TYPE
          type: array
          items:
            type: string
            enum:
            - user_activity
            - document_status
          maxItems: 2
          minItems: 1
        start_date:
          description: _t__ReportCreate::START_DATE
          type: string
      type: object
    ReportResponse:
      description: _t__ReportResponse::DESCRIPTION
      properties:
        success:
          description: _t__ReportResponse::SUCCESS
          type: string
        start_date:
          description: _t__ReportResponse::START_DATE
          type: string
        end_date:
          description: _t__ReportResponse::END_DATE
          type: string
        report_type:
          description: _t__ReportResponse::REPORT_TYPE
          type: array
          items:
            enum:
            - user_activity
            - document_status
      type: object
      x-internal: true
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
  examples:
    ReportCreateRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/ReportCreateRequestDefaultExample.json
    Error402ResponseExample:
      summary: _t__Error::402
      value:
        $ref: examples/json/Error402ResponseExample.json
    ReportCreateResponseExample:
      summary: _t__ReportCreateResponseExample::SUMMARY
      value:
        $ref: examples/json/ReportCreateResponseExample.json
    Error400ResponseExample:
      summary: _t__Error::400
      value:
        $ref: examples/json/Error400ResponseExample.json
    Error403ResponseExample:
      summary: _t__Error::403
      value:
        $ref: examples/json/Error403ResponseExample.json
    Error4XXResponseExample:
      summary: _t__Error::4XX
      value:
        $ref: examples/json/Error4XXResponseExample.json
    Error401ResponseExample:
      summary: _t__Error::401
      value:
        $ref: examples/json/Error401ResponseExample.json
  headers:
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    api_key:
      type: http
      description: _t__OpenApi::AUTH::API_KEY
      scheme: basic
    oauth2:
      type: http
      description: _t__OpenApi::AUTH::OAUTH
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
