openapi: 3.0.0
info:
  title: Dropbox API Reference Account Embedded API
  description: "The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways. This is a collection that includes requests to all endpoints in the Dropbox API. \n\nThe Dropbox API is divided in two groups of endpoints: User Endpoints and Business Endpoints. Operations that would most likely be executed by a user, such as file operations, are in the User Endpoints folder. Operations that would most likely be executed by a team administrator, such as adding users to groups, live in the Business Endpoints folder. \n\nIf you are new to Dropbox Business and Team Administration, please have a look at the [Dropobox Admin Guide](https://help.dropbox.com/guide/admin/how-to-get-started#dropbox-admin-guide). \n\nIf you want more information on how to use our API please refer to our [Developer Portal](https://www.dropbox.com/developers). \n\n# What's in the collection?\n\nThe endpoints are organized in the following folders:\n* account\n* auth\n* check\n* contacts\n* file_properties\n* file_requests\n* files\n* sharing\n* team\n* team_log\n* users\n\n# Authorization\n\n## OAuth 2.0 for API Access\nDropbox uses OAuth 2.0, an open specification, to authorize access to data. To get an OAuth token from Dropbox to enable Postman to access your Dropbox account via the API you’ll need to create a new app on the DBX Platform.\n\n## Creating an App on the DBX Platform\nNavigate to https://www.dropbox.com/developers/apps and select “Create app” \n1. Choose an API  \n2. Choose the type of access you need \n3. Give your app a name  \n4. Choose the Dropbox account that will own your app  \n\nFor reference, please use the [Dropbox OAuth guide](https://www.dropbox.com/lp/developers/reference/oauth-guide) \n\n## Generating an Access Token\nOnce you select “Create app” a page will load that displays information about your newly created app. To generate an access token scroll down to “OAuth 2” and click “Generate” beneath “Generated access token.” The token will display as a long string of characters. Copy this token for use with the Postman Collection.\n\n## Adding an Access Token to the requests\nIn the Postman client, click on the three dots to the right of the collection name to \"View more actions.\"\n\n![Screenshot of adding access token](https://www.dropbox.com/s/sfebu9ai76cbq39/Screen%20Shot%202020-10-28%20at%2012.50.56%20AM.png?raw=1)\n\nThen, click \"Edit.\"\n\nClick on the \"Variables\" tab and, in the row for the `access_token` variable, paste your access token in the `CURRENT VALUE` column. The default value is `your-access-token-here`.\n\n![Screenshot of adding access token](https://www.dropbox.com/s/ahnbxwe6oscjues/Screen%20Shot%202020-10-28%20at%2012.51.13%20AM.png?raw=1)\n\nFor information on sessions and variables in Postman see the blog post at https://blog.postman.com/sessions-faq/.\n\n# Notes\n* Dropbox also has a Postman Collection in the API Network to help administrators with team management workflows. It is called [Dropbox Team Admin Workflows](). \n\n"
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Embedded
  description: _md__OpenApi::TAG::EMBEDDED::DESCRIPTION
paths:
  /embedded/edit_url/{template_id}:
    post:
      tags:
      - Embedded
      summary: Dropbox _t__EmbeddedEditUrl::SUMMARY
      description: _t__EmbeddedEditUrl::DESCRIPTION
      operationId: embeddedEditUrl
      parameters:
      - name: template_id
        in: path
        description: _t__EmbeddedEditUrl::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedEditUrlRequest'
            examples:
              default_example:
                $ref: '#/components/examples/EmbeddedEditUrlRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedEditUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedEditUrlResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/EmbeddedEditUrl.php
      - lang: C#
        label: C#
        source:
          $ref: examples/EmbeddedEditUrl.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/EmbeddedEditUrl.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/EmbeddedEditUrl.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/EmbeddedEditUrl.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/EmbeddedEditUrl.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/EmbeddedEditUrl.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/EmbeddedEditUrl.sh
      x-meta:
        seo:
          title: _t__EmbeddedEditUrl::SEO::TITLE
          description: _t__EmbeddedEditUrl::SEO::DESCRIPTION
  /embedded/sign_url/{signature_id}:
    get:
      tags:
      - Embedded
      summary: Dropbox _t__EmbeddedSignUrl::SUMMARY
      description: _t__EmbeddedSignUrl::DESCRIPTION
      operationId: embeddedSignUrl
      parameters:
      - name: signature_id
        in: path
        description: _t__EmbeddedSignUrl::SIGNATURE_ID
        required: true
        schema:
          type: string
        example: 50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSignUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedSignUrlResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/EmbeddedSignUrl.php
      - lang: C#
        label: C#
        source:
          $ref: examples/EmbeddedSignUrl.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/EmbeddedSignUrl.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/EmbeddedSignUrl.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/EmbeddedSignUrl.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/EmbeddedSignUrl.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/EmbeddedSignUrl.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/EmbeddedSignUrl.sh
      x-meta:
        seo:
          title: _t__EmbeddedSignUrl::SEO::TITLE
          description: _t__EmbeddedSignUrl::SEO::DESCRIPTION
components:
  schemas:
    EmbeddedSignUrlResponse:
      properties:
        embedded:
          $ref: '#/components/schemas/EmbeddedSignUrlResponseEmbedded'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    WarningResponse:
      description: _t__WarningResponse::LIST_DESCRIPTION
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: _t__WarningResponse::WARNING_MSG
          type: string
        warning_name:
          description: _t__WarningResponse::WARNING_NAME
          type: string
      type: object
    SubEditorOptions:
      description: _t__Sub::EditorOptions::DESCRIPTION
      properties:
        allow_edit_signers:
          description: _t__Sub::EditorOptions::ALLOW_EDIT_SIGNERS
          type: boolean
          default: false
        allow_edit_documents:
          description: _t__Sub::EditorOptions::ALLOW_EDIT_DOCUMENTS
          type: boolean
          default: false
      type: object
    EmbeddedEditUrlRequest:
      properties:
        allow_edit_ccs:
          description: _t__EmbeddedEditUrl::ALLOW_EDIT_CCS
          type: boolean
          default: false
        cc_roles:
          description: _t__EmbeddedEditUrl::CC_ROLES
          type: array
          items:
            type: string
        editor_options:
          $ref: '#/components/schemas/SubEditorOptions'
        force_signer_roles:
          description: _t__EmbeddedEditUrl::FORCE_SIGNER_ROLES
          type: boolean
          default: false
        force_subject_message:
          description: _t__EmbeddedEditUrl::FORCE_SUBJECT_MESSAGE
          type: boolean
          default: false
        merge_fields:
          description: _t__EmbeddedEditUrl::MERGE_FIELDS
          type: array
          items:
            $ref: '#/components/schemas/SubMergeField'
        preview_only:
          description: _t__EmbeddedEditUrl::PREVIEW_ONLY
          type: boolean
          default: false
        show_preview:
          description: _t__EmbeddedEditUrl::SHOW_PREVIEW
          type: boolean
          default: false
        show_progress_stepper:
          description: _t__EmbeddedEditUrl::SHOW_PROGRESS_STEPPER
          type: boolean
          default: true
        test_mode:
          description: _t__EmbeddedEditUrl::TEST_MODE
          type: boolean
          default: false
      type: object
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
    EmbeddedSignUrlResponseEmbedded:
      description: _t__EmbeddedSignUrlResponseEmbedded::DESCRIPTION
      properties:
        sign_url:
          description: _t__EmbeddedSignUrlResponseEmbedded::SIGN_URL
          type: string
        expires_at:
          description: _t__EmbeddedSignUrlResponseEmbedded::EXPIRES_AT
          type: integer
      type: object
      x-internal: true
    SubMergeField:
      required:
      - name
      - type
      properties:
        name:
          description: _t__Sub::MergeField::NAME
          type: string
        type:
          description: _t__Sub::MergeField::TYPE
          type: string
          enum:
          - text
          - checkbox
          x-enumDescriptions:
            text: _t__Sub::MergeField::EnumDescriptions::TEXT
            checkbox: _t__Sub::MergeField::EnumDescriptions::CHECKBOX
      type: object
    EmbeddedEditUrlResponse:
      properties:
        embedded:
          $ref: '#/components/schemas/EmbeddedEditUrlResponseEmbedded'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    EmbeddedEditUrlResponseEmbedded:
      description: _t__EmbeddedEditUrlResponseEmbedded::DESCRIPTION
      properties:
        edit_url:
          description: _t__EmbeddedEditUrlResponseEmbedded::EDIT_URL
          type: string
        expires_at:
          description: _t__EmbeddedEditUrlResponseEmbedded::EXPIRES_AT
          type: integer
      type: object
      x-internal: true
  examples:
    EmbeddedSignUrlResponseExample:
      summary: _t__EmbeddedSignUrlResponseExample::SUMMARY
      value:
        $ref: examples/json/EmbeddedSignUrlResponseExample.json
    Error4XXResponseExample:
      summary: _t__Error::4XX
      value:
        $ref: examples/json/Error4XXResponseExample.json
    Error400ResponseExample:
      summary: _t__Error::400
      value:
        $ref: examples/json/Error400ResponseExample.json
    Error429ResponseExample:
      summary: _t__Error::429
      value:
        $ref: examples/json/Error429ResponseExample.json
    EmbeddedEditUrlRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/EmbeddedEditUrlRequestDefaultExample.json
    Error409ResponseExample:
      summary: _t__Error::409
      value:
        $ref: examples/json/Error409ResponseExample.json
    EmbeddedEditUrlResponseExample:
      summary: _t__EmbeddedEditUrlResponseExample::SUMMARY
      value:
        $ref: examples/json/EmbeddedEditUrlResponseExample.json
    Error403ResponseExample:
      summary: _t__Error::403
      value:
        $ref: examples/json/Error403ResponseExample.json
    Error404ResponseExample:
      summary: _t__Error::404
      value:
        $ref: examples/json/Error404ResponseExample.json
    Error402ResponseExample:
      summary: _t__Error::402
      value:
        $ref: examples/json/Error402ResponseExample.json
    Error401ResponseExample:
      summary: _t__Error::401
      value:
        $ref: examples/json/Error401ResponseExample.json
  headers:
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
