openapi: 3.2.0
info:
  title: Dropbox API Reference Team Log API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Team_log
paths:
  /2/team_log/get_events:
    post:
      tags:
      - Team_log
      summary: Dropbox get_events
      description: 'get_events


        scope: `events.read`


        Retrieves team events. If the result''s `GetTeamEventsResult.has_more` field is `true`, call `get_events/continue` with the returned cursor to retrieve more entries. If end_time is not specified in your request, you may use the returned cursor to poll `get_events/continue` for new events.

        Many attributes note ''may be missing due to historical data gap''.

        Note that the file_operations category and & analogous paper events are not available on all Dropbox Business plans. Use features/get_values to check for this feature.

        Permission : Team Auditing.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"limit\": 50, \n    \"category\": \"groups\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                events:
                - timestamp: '2017-01-25T15:51:30Z'
                  event_category:
                    .tag: tfa
                  event_type:
                    .tag: shared_content_download
                    description: (sharing) Downloaded shared file/folder
                  details:
                    .tag: shared_content_download_details
                    shared_content_link: abc
                    shared_content_access_level:
                      .tag: viewer_no_comment
                    shared_content_owner:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  actor:
                    .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  origin:
                    access_method:
                      .tag: end_user
                      end_user:
                        .tag: web
                        session_id: dbwsid:123456789012345678901234567890123456789
                    geo_location:
                      ip_address: 45.56.78.100
                      city: San Francisco
                      region: California
                      country: US
                  involve_non_team_member: true
                  context:
                    .tag: team_member
                    account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                    display_name: John Smith
                    email: john_smith@acmecorp.com
                    team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                    member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                    team:
                      display_name: A Team
                  participants:
                  - .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAGx4oiLtHdvRdNxUpvvJBXYgR4BS19c9kw
                      display_name: Jane Smith
                      email: jane_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1225
                      team:
                        display_name: A Team
                  assets:
                  - .tag: file
                    path:
                      namespace_relative:
                        ns_id: '1234'
                        relative_path: /Contract Work/Draft
                        is_shared_namespace: false
                      contextual: /Contract Work/Draft
                    display_name: reports.xls
                    file_id: id:jQKLsZFQImAAAAAAEZAAQt
                    file_size: 4
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: false
      operationId: post2TeamLogGetEvents
      x-operation-id-source: derived
  /2/team_log/get_events/continue:
    post:
      tags:
      - Team_log
      summary: Dropbox get_events/continue
      description: 'get_events/continue


        scope: `events.read`


        Once a cursor has been retrieved from `get_events`, use this to paginate through all events.

        Permission : Team Auditing.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"cursor\": \"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                events:
                - timestamp: '2017-01-25T15:51:30Z'
                  event_category:
                    .tag: tfa
                  event_type:
                    .tag: shared_content_download
                    description: (sharing) Downloaded shared file/folder
                  details:
                    .tag: shared_content_download_details
                    shared_content_link: abc
                    shared_content_access_level:
                      .tag: viewer_no_comment
                    shared_content_owner:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  actor:
                    .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  origin:
                    access_method:
                      .tag: end_user
                      end_user:
                        .tag: web
                        session_id: dbwsid:123456789012345678901234567890123456789
                    geo_location:
                      ip_address: 45.56.78.100
                      city: San Francisco
                      region: California
                      country: US
                  involve_non_team_member: true
                  context:
                    .tag: team_member
                    account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                    display_name: John Smith
                    email: john_smith@acmecorp.com
                    team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                    member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                    team:
                      display_name: A Team
                  participants:
                  - .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAGx4oiLtHdvRdNxUpvvJBXYgR4BS19c9kw
                      display_name: Jane Smith
                      email: jane_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1225
                      team:
                        display_name: A Team
                  assets:
                  - .tag: file
                    path:
                      namespace_relative:
                        ns_id: '1234'
                        relative_path: /Contract Work/Draft
                        is_shared_namespace: false
                      contextual: /Contract Work/Draft
                    display_name: reports.xls
                    file_id: id:jQKLsZFQImAAAAAAEZAAQt
                    file_size: 4
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: false
      operationId: post2TeamLogGetEventsContinue
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
