openapi: 3.2.0
info:
  title: Dropbox API Reference Team > Devices API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Team > Devices
paths:
  /2/team/devices/list_member_devices:
    post:
      tags:
      - Team > Devices
      summary: Dropbox devices/list_member_devices
      description: 'devices/list_member_devices


        scope: `sessions.list`


        List all device sessions of a team''s member.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"team_member_id\": \"dbmid:AAFdgehTzw7WlXhZJsbGCLePe8RvQGYDr-I\", \n    \"include_web_sessions\": true, \n    \"include_desktop_clients\": true, \n    \"include_mobile_clients\": true\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamDevicesListMemberDevices
      x-operation-id-source: derived
  /2/team/devices/list_members_devices:
    post:
      tags:
      - Team > Devices
      summary: Dropbox devices/list_members_devices
      description: 'devices/list_members_devices


        scope: `sessions.list`


        List all device sessions of a team.

        Permission : Team member file access.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamDevicesListMembersDevices
      x-operation-id-source: derived
  /2/team/devices/revoke_device_session:
    post:
      tags:
      - Team > Devices
      summary: Dropbox devices/revoke_device_session
      description: 'devices/revoke_device_session


        scope: `sessions.modify`


        Revoke a device session of a team''s member.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \".tag\": \"web_session\", \n    \"session_id\": \"1234faaf0678bcde\", \n    \"team_member_id\": \"dbmid:AAHhy7WsR0x-u4ZCqiDl5Fz5zvuL3kmspwU\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamDevicesRevokeDeviceSession
      x-operation-id-source: derived
  /2/team/devices/revoke_device_session_batch:
    post:
      tags:
      - Team > Devices
      summary: Dropbox devices/revoke_device_session_batch
      description: 'devices/revoke_device_session_batch


        scope: `sessions.modify`


        Revoke a list of device sessions of team members.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"revoke_devices\": [\n        {\n            \".tag\": \"web_session\", \n            \"session_id\": \"1234faaf0678bcde\", \n            \"team_member_id\": \"dbmid:AAHhy7WsR0x-u4ZCqiDl5Fz5zvuL3kmspwU\"\n        }\n    ]\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamDevicesRevokeDeviceSessionBatch
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
