openapi: 3.2.0
info:
  title: Dropbox Sign Template API
  description: The Dropbox Sign API offers a reliable, flexible set of eSignature tools that can be used to power digital agreements and turn slow, outdated business processes into a competitive advantage. With a broad range of highly-configurable features, the Dropbox Sign API empowers you to build secure signing experiences and document workflows that delight your users.
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
  oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: Template
  description: _md__OpenApi::TAG::TEMPLATE::DESCRIPTION
paths:
  /template/add_user/{template_id}:
    post:
      tags:
      - Template
      summary: Dropbox _t__TemplateAddUser::SUMMARY
      description: _t__TemplateAddUser::DESCRIPTION
      operationId: templateAddUser
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateAddUser::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateAddUserRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateAddUserRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateAddUserResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateAddUser.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateAddUser.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateAddUser.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateAddUser.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateAddUser.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateAddUser.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateAddUser.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateAddUser.sh
      x-meta:
        seo:
          title: _t__TemplateAddUser::SEO::TITLE
          description: _t__TemplateAddUser::SEO::DESCRIPTION
  /template/create:
    post:
      tags:
      - Template
      summary: Dropbox _t__TemplateCreate::SUMMARY
      description: _t__TemplateCreate::DESCRIPTION
      operationId: templateCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateCreateRequestDefaultExample'
              form_fields_per_document:
                $ref: '#/components/examples/TemplateCreateRequestFormFieldsPerDocumentExample'
              form_field_groups:
                $ref: '#/components/examples/TemplateCreateRequestFormFieldGroupsExample'
              form_field_rules:
                $ref: '#/components/examples/TemplateCreateRequestFormFieldRulesExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TemplateCreateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateCreate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateCreate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateCreate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateCreate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateCreate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateCreate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateCreate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateCreate.sh
      x-meta:
        seo:
          title: _t__TemplateCreate::SEO::TITLE
          description: _t__TemplateCreate::SEO::DESCRIPTION
  /template/create_embedded_draft:
    post:
      tags:
      - Template
      summary: Dropbox _t__TemplateCreateEmbeddedDraft::SUMMARY
      description: _t__TemplateCreateEmbeddedDraft::DESCRIPTION
      operationId: templateCreateEmbeddedDraft
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreateEmbeddedDraftRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestDefaultExample'
              form_fields_per_document:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestFormFieldsPerDocumentExample'
              form_field_groups:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestFormFieldGroupsExample'
              form_field_rules:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestFormFieldRulesExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TemplateCreateEmbeddedDraftRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateCreateEmbeddedDraftResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateCreateEmbeddedDraftResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateCreateEmbeddedDraft.sh
      x-meta:
        seo:
          title: _t__TemplateCreateEmbeddedDraft::SEO::TITLE
          description: _t__TemplateCreateEmbeddedDraft::SEO::DESCRIPTION
  /template/delete/{template_id}:
    post:
      tags:
      - Template
      summary: Dropbox _t__TemplateDelete::SUMMARY
      description: _t__TemplateDelete::DESCRIPTION
      operationId: templateDelete
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateDelete::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {}
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateDelete.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateDelete.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateDelete.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateDelete.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateDelete.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateDelete.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateDelete.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateDelete.sh
      x-meta:
        seo:
          title: _t__TemplateDelete::SEO::TITLE
          description: _t__TemplateDelete::SEO::DESCRIPTION
  /template/files/{template_id}:
    get:
      tags:
      - Template
      summary: Dropbox _t__TemplateFiles::SUMMARY
      description: _t__TemplateFiles::DESCRIPTION
      operationId: templateFiles
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateFiles::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      - name: file_type
        in: query
        description: _t__TemplateFiles::FILE_TYPE
        schema:
          type: string
          enum:
          - pdf
          - zip
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                422_example:
                  $ref: '#/components/examples/Error422ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateFiles.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateFiles.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateFiles.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateFiles.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateFiles.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateFiles.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateFiles.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateFiles.sh
      x-meta:
        seo:
          title: _t__TemplateFiles::SEO::TITLE
          description: _t__TemplateFiles::SEO::DESCRIPTION
  /template/files_as_data_uri/{template_id}:
    get:
      tags:
      - Template
      summary: Dropbox _t__TemplateFilesAsDataUri::SUMMARY
      description: _t__TemplateFilesAsDataUri::DESCRIPTION
      operationId: templateFilesAsDataUri
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateFiles::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponseDataUri'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                422_example:
                  $ref: '#/components/examples/Error422ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateFilesAsDataUri.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateFilesAsDataUri.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateFilesAsDataUri.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateFilesAsDataUri.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateFilesAsDataUri.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateFilesAsDataUri.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateFilesAsDataUri.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateFilesAsDataUri.sh
      x-meta:
        seo:
          title: _t__TemplateFiles::SEO::TITLE
          description: _t__TemplateFiles::SEO::DESCRIPTION
  /template/files_as_file_url/{template_id}:
    get:
      tags:
      - Template
      summary: Dropbox _t__TemplateFilesAsFileUrl::SUMMARY
      description: _t__TemplateFilesAsFileUrl::DESCRIPTION
      operationId: templateFilesAsFileUrl
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateFiles::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      - name: force_download
        in: query
        description: _t__TemplateFiles::FORCE_DOWNLOAD
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                422_example:
                  $ref: '#/components/examples/Error422ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateFilesAsFileUrl.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateFilesAsFileUrl.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateFilesAsFileUrl.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateFilesAsFileUrl.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateFilesAsFileUrl.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateFilesAsFileUrl.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateFilesAsFileUrl.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateFilesAsFileUrl.sh
      x-meta:
        seo:
          title: _t__TemplateFiles::SEO::TITLE
          description: _t__TemplateFiles::SEO::DESCRIPTION
  /template/{template_id}:
    get:
      tags:
      - Template
      summary: Dropbox _t__TemplateGet::SUMMARY
      description: _t__TemplateGet::DESCRIPTION
      operationId: templateGet
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateGet::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateGet.sh
      x-meta:
        seo:
          title: _t__TemplateGet::SEO::TITLE
          description: _t__TemplateGet::SEO::DESCRIPTION
  /template/list:
    get:
      tags:
      - Template
      summary: Dropbox _t__TemplateList::SUMMARY
      description: _t__TemplateList::DESCRIPTION
      operationId: templateList
      parameters:
      - name: account_id
        in: query
        description: _t__TemplateList::ACCOUNT_ID
        schema:
          type: string
      - name: page
        in: query
        description: _t__TemplateList::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__TemplateList::PAGE_SIZE
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: query
        in: query
        description: _t__TemplateList::QUERY
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateList.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateList.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateList.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateList.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateList.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateList.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateList.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateList.sh
      x-meta:
        seo:
          title: _t__TemplateList::SEO::TITLE
          description: _t__TemplateList::SEO::DESCRIPTION
  /template/remove_user/{template_id}:
    post:
      tags:
      - Template
      summary: Dropbox _t__TemplateRemoveUser::SUMMARY
      description: _t__TemplateRemoveUser::DESCRIPTION
      operationId: templateRemoveUser
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateRemoveUser::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateRemoveUserRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateRemoveUserRequestDefaultExample'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateRemoveUserResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateRemoveUser.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateRemoveUser.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateRemoveUser.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateRemoveUser.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateRemoveUser.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateRemoveUser.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateRemoveUser.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateRemoveUser.sh
      x-meta:
        seo:
          title: _t__TemplateRemoveUser::SEO::TITLE
          description: _t__TemplateRemoveUser::SEO::DESCRIPTION
  /template/update_files/{template_id}:
    post:
      tags:
      - Template
      summary: Dropbox _t__TemplateUpdateFiles::SUMMARY
      description: _t__TemplateUpdateFiles::DESCRIPTION
      operationId: templateUpdateFiles
      parameters:
      - name: template_id
        in: path
        description: _t__TemplateUpdateFiles::TEMPLATE_ID
        required: true
        schema:
          type: string
        example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateFilesRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateUpdateFilesRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TemplateUpdateFilesRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateFilesResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateUpdateFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - template_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/TemplateUpdateFiles.php
      - lang: C#
        label: C#
        source:
          $ref: examples/TemplateUpdateFiles.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/TemplateUpdateFiles.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/TemplateUpdateFiles.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/TemplateUpdateFiles.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/TemplateUpdateFiles.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/TemplateUpdateFiles.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/TemplateUpdateFiles.sh
      x-meta:
        seo:
          title: _t__TemplateUpdateFiles::SEO::TITLE
          description: _t__TemplateUpdateFiles::SEO::DESCRIPTION
components:
  schemas:
    TemplateCreateRequest:
      required:
      - signer_roles
      - form_fields_per_document
      properties:
        files:
          description: _t__TemplateCreate::FILES
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: _t__TemplateCreate::FILE_URLS
          type: array
          items:
            type: string
        allow_reassign:
          description: _t__TemplateCreate::ALLOW_REASSIGN
          type: boolean
          default: false
        attachments:
          description: _t__SubAttachment::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubAttachment'
        cc_roles:
          description: _t__TemplateCreate::CC_ROLES
          type: array
          items:
            type: string
        client_id:
          description: _t__TemplateCreate::CLIENT_ID
          type: string
        field_options:
          $ref: '#/components/schemas/SubFieldOptions'
        form_field_groups:
          description: _t__Sub::FormFieldGroup::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldGroup'
        form_field_rules:
          description: _t__Sub::FormFieldRule::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRule'
        form_fields_per_document:
          description: _t__Sub::FormFieldsPerDocument::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldsPerDocumentBase'
        merge_fields:
          description: _t__TemplateCreate::MERGE_FIELDS
          type: array
          items:
            $ref: '#/components/schemas/SubMergeField'
        message:
          description: _t__TemplateCreate::MESSAGE
          type: string
          maxLength: 5000
        metadata:
          description: _t__Sub::Metadata::DESCRIPTION
          type: object
          maxItems: 10
          additionalProperties: {}
        signer_roles:
          description: _t__TemplateCreate::SIGNER_ROLES
          type: array
          items:
            $ref: '#/components/schemas/SubTemplateRole'
        subject:
          description: _t__TemplateCreate::SUBJECT
          type: string
          maxLength: 200
        test_mode:
          description: _t__TemplateCreate::TEST_MODE
          type: boolean
          default: false
        title:
          description: _t__TemplateCreate::TITLE
          type: string
        use_preexisting_fields:
          description: _t__TemplateCreate::USE_PREEXISTING_FIELDS
          type: boolean
          default: false
      type: object
    TemplateResponseAccountQuota:
      description: _t__TemplateResponseAccountQuota::DESCRIPTION
      properties:
        templates_left:
          description: _t__TemplateResponseAccountQuota::TEMPLATES_LEFT
          type: integer
        api_signature_requests_left:
          description: _t__TemplateResponseAccountQuota::API_SIGNATURE_REQUESTS_LEFT
          type: integer
        documents_left:
          description: _t__TemplateResponseAccountQuota::DOCUMENTS_LEFT
          type: integer
        sms_verifications_left:
          description: _t__TemplateResponseAccountQuota::SMS_VERIFICATIONS_LEFT
          type: integer
      type: object
      x-internal: true
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    TemplateCreateResponseTemplate:
      description: _t__TemplateCreateResponseTemplate::DESCRIPTION
      properties:
        template_id:
          description: _t__TemplateResponse::TEMPLATE_ID
          type: string
      type: object
      x-internal: true
    TemplateAddUserRequest:
      properties:
        account_id:
          description: _t__TemplateAddUser::ACCOUNT_ID
          type: string
        email_address:
          description: _t__TemplateAddUser::EMAIL_ADDRESS
          type: string
          format: email
        skip_notification:
          description: _t__TemplateAddUser::SKIP_NOTIFICATION
          type: boolean
          default: false
      type: object
    TemplateCreateEmbeddedDraftResponseTemplate:
      description: _t__TemplateCreateEmbeddedDraftResponseTemplate::DESCRIPTION
      properties:
        template_id:
          description: _t__TemplateResponse::TEMPLATE_ID
          type: string
        edit_url:
          description: _t__TemplateCreateEmbeddedDraftResponseTemplate::EDIT_URL
          type: string
        expires_at:
          description: _t__TemplateCreateEmbeddedDraftResponseTemplate::EXPIRES_AT
          type: integer
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
          deprecated: true
      type: object
      x-internal: true
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
    TemplateUpdateFilesResponse:
      properties:
        template:
          $ref: '#/components/schemas/TemplateUpdateFilesResponseTemplate'
      type: object
      x-internal: true
    SubMergeField:
      required:
      - name
      - type
      properties:
        name:
          description: _t__Sub::MergeField::NAME
          type: string
        type:
          description: _t__Sub::MergeField::TYPE
          type: string
          enum:
          - text
          - checkbox
          x-enumDescriptions:
            text: _t__Sub::MergeField::EnumDescriptions::TEXT
            checkbox: _t__Sub::MergeField::EnumDescriptions::CHECKBOX
      type: object
    TemplateResponse:
      description: _t__TemplateResponse::DESCRIPTION
      properties:
        template_id:
          description: _t__TemplateResponse::TEMPLATE_ID
          type: string
        title:
          description: _t__TemplateResponse::TITLE
          type: string
        message:
          description: _t__TemplateResponse::MESSAGE
          type: string
        updated_at:
          description: _t__TemplateResponse::UPDATED_AT
          type: integer
        is_embedded:
          description: _t__TemplateResponse::IS_EMBEDDED
          type:
          - boolean
          - 'null'
        is_creator:
          description: _t__TemplateResponse::IS_CREATOR
          type:
          - boolean
          - 'null'
        can_edit:
          description: _t__TemplateResponse::CAN_EDIT
          type:
          - boolean
          - 'null'
        is_locked:
          description: _t__TemplateResponse::IS_LOCKED
          type:
          - boolean
          - 'null'
        metadata:
          description: _t__TemplateResponse::METADATA
          type: object
        signer_roles:
          description: _t__TemplateResponse::SIGNER_ROLES
          type: array
          items:
            $ref: '#/components/schemas/TemplateResponseSignerRole'
        cc_roles:
          description: _t__TemplateResponse::CC_ROLES
          type: array
          items:
            $ref: '#/components/schemas/TemplateResponseCCRole'
        documents:
          description: _t__TemplateResponse::DOCUMENTS
          type: array
          items:
            $ref: '#/components/schemas/TemplateResponseDocument'
        custom_fields:
          description: _t__TemplateResponseCustomField::DESCRIPTION
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateResponseDocumentCustomFieldBase'
          deprecated: true
        named_form_fields:
          description: _t__TemplateResponseNamedFormField::DESCRIPTION
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateResponseDocumentFormFieldBase'
          deprecated: true
        accounts:
          description: _t__TemplateResponse::ACCOUNTS
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateResponseAccount'
      type: object
      x-internal: true
    TemplateResponseDocumentFormFieldBase:
      description: _t__TemplateResponseDocumentFormField::DESCRIPTION
      required:
      - type
      properties:
        api_id:
          description: _t__TemplateResponseDocumentFormField::API_ID
          type: string
        name:
          description: _t__TemplateResponseDocumentFormField::NAME
          type: string
        type:
          type: string
        signer:
          description: _t__TemplateResponseDocumentFormField::SIGNER
          type: string
        x:
          description: _t__TemplateResponseDocumentFormField::X
          type: integer
        y:
          description: _t__TemplateResponseDocumentFormField::Y
          type: integer
        width:
          description: _t__TemplateResponseDocumentFormField::WIDTH
          type: integer
        height:
          description: _t__TemplateResponseDocumentFormField::HEIGHT
          type: integer
        required:
          description: _t__TemplateResponseDocumentFormField::REQUIRED
          type: boolean
        group:
          description: _t__TemplateResponseDocumentFormField::GROUP
          type:
          - string
          - 'null'
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TemplateResponseDocumentFormFieldText'
          dropdown: '#/components/schemas/TemplateResponseDocumentFormFieldDropdown'
          hyperlink: '#/components/schemas/TemplateResponseDocumentFormFieldHyperlink'
          checkbox: '#/components/schemas/TemplateResponseDocumentFormFieldCheckbox'
          radio: '#/components/schemas/TemplateResponseDocumentFormFieldRadio'
          signature: '#/components/schemas/TemplateResponseDocumentFormFieldSignature'
          date_signed: '#/components/schemas/TemplateResponseDocumentFormFieldDateSigned'
          initials: '#/components/schemas/TemplateResponseDocumentFormFieldInitials'
      x-internal: true
      x-base-class: true
    TemplateResponseDocumentStaticFieldBase:
      description: _t__TemplateResponseDocumentStaticField::DESCRIPTION
      required:
      - type
      properties:
        api_id:
          description: _t__TemplateResponseDocumentStaticField::API_ID
          type: string
        name:
          description: _t__TemplateResponseDocumentStaticField::NAME
          type: string
        type:
          type: string
        signer:
          description: _t__TemplateResponseDocumentStaticField::SIGNER
          type: string
          default: me_now
        x:
          description: _t__TemplateResponseDocumentStaticField::X
          type: integer
        y:
          description: _t__TemplateResponseDocumentStaticField::Y
          type: integer
        width:
          description: _t__TemplateResponseDocumentStaticField::WIDTH
          type: integer
        height:
          description: _t__TemplateResponseDocumentStaticField::HEIGHT
          type: integer
        required:
          description: _t__TemplateResponseDocumentStaticField::REQUIRED
          type: boolean
        group:
          description: _t__TemplateResponseDocumentStaticField::GROUP
          type:
          - string
          - 'null'
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TemplateResponseDocumentStaticFieldText'
          dropdown: '#/components/schemas/TemplateResponseDocumentStaticFieldDropdown'
          hyperlink: '#/components/schemas/TemplateResponseDocumentStaticFieldHyperlink'
          checkbox: '#/components/schemas/TemplateResponseDocumentStaticFieldCheckbox'
          radio: '#/components/schemas/TemplateResponseDocumentStaticFieldRadio'
          signature: '#/components/schemas/TemplateResponseDocumentStaticFieldSignature'
          date_signed: '#/components/schemas/TemplateResponseDocumentStaticFieldDateSigned'
          initials: '#/components/schemas/TemplateResponseDocumentStaticFieldInitials'
      x-internal: true
      x-base-class: true
    FileResponseDataUri:
      properties:
        data_uri:
          description: _t__FileResponse::DATA_URI
          type: string
      type: object
      x-internal: true
    TemplateCreateResponse:
      properties:
        template:
          $ref: '#/components/schemas/TemplateCreateResponseTemplate'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    TemplateGetResponse:
      properties:
        template:
          $ref: '#/components/schemas/TemplateResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    SubTemplateRole:
      properties:
        name:
          description: _t__Sub::SignerRole::NAME
          type: string
        order:
          description: _t__Sub::SignerRole::ORDER
          type:
          - integer
          - 'null'
      type: object
    TemplateResponseDocument:
      properties:
        name:
          description: _t__TemplateResponseDocument::NAME
          type: string
        index:
          description: _t__TemplateResponseDocument::INDEX
          type: integer
        field_groups:
          description: _t__TemplateResponseDocument::FIELD_GROUPS
          type: array
          items:
            $ref: '#/components/schemas/TemplateResponseDocumentFieldGroup'
        form_fields:
          description: _t__TemplateResponseDocumentFormField::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/TemplateResponseDocumentFormFieldBase'
        custom_fields:
          description: _t__TemplateResponseDocumentCustomField::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/TemplateResponseDocumentCustomFieldBase'
        static_fields:
          description: _t__TemplateResponseDocumentStaticField::DESCRIPTION
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateResponseDocumentStaticFieldBase'
      type: object
      x-internal: true
    TemplateUpdateFilesRequest:
      properties:
        client_id:
          description: _t__TemplateUpdateFiles::CLIENT_ID
          type: string
        files:
          description: _t__TemplateUpdateFiles::FILES
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: _t__TemplateUpdateFiles::FILE_URLS
          type: array
          items:
            type: string
        message:
          description: _t__TemplateUpdateFiles::MESSAGE
          type: string
          maxLength: 5000
        subject:
          description: _t__TemplateUpdateFiles::SUBJECT
          type: string
          maxLength: 100
        test_mode:
          description: _t__TemplateUpdateFiles::TEST_MODE
          type: boolean
          default: false
      type: object
    WarningResponse:
      description: _t__WarningResponse::LIST_DESCRIPTION
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: _t__WarningResponse::WARNING_MSG
          type: string
        warning_name:
          description: _t__WarningResponse::WARNING_NAME
          type: string
      type: object
    SubEditorOptions:
      description: _t__Sub::EditorOptions::DESCRIPTION
      properties:
        allow_edit_signers:
          description: _t__Sub::EditorOptions::ALLOW_EDIT_SIGNERS
          type: boolean
          default: false
        allow_edit_documents:
          description: _t__Sub::EditorOptions::ALLOW_EDIT_DOCUMENTS
          type: boolean
          default: false
      type: object
    ListInfoResponse:
      description: _t__ListInfoResponse::DESCRIPTION
      properties:
        num_pages:
          description: _t__ListInfoResponse::NUM_PAGES
          type: integer
        num_results:
          description: _t__ListInfoResponse::NUM_RESULTS
          type:
          - integer
          - 'null'
        page:
          description: _t__ListInfoResponse::PAGE
          type: integer
        page_size:
          description: _t__ListInfoResponse::PAGE_SIZE
          type: integer
      type: object
      x-internal: true
    TemplateResponseCCRole:
      properties:
        name:
          description: _t__TemplateResponseCCRole::TEMPLATES_LEFT
          type: string
      type: object
      x-internal: true
    TemplateCreateEmbeddedDraftResponse:
      properties:
        template:
          $ref: '#/components/schemas/TemplateCreateEmbeddedDraftResponseTemplate'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    TemplateResponseDocumentFieldGroupRule:
      description: _t__TemplateResponseDocumentFieldGroup::RULE
      properties:
        requirement:
          description: _t__TemplateResponseDocumentFieldGroupRule::REQUIREMENT
          type: string
        groupLabel:
          description: _t__TemplateResponseDocumentFieldGroupRule::GROUP_LABEL
          type: string
      type: object
      x-internal: true
    SubAttachment:
      required:
      - name
      - signer_index
      properties:
        instructions:
          description: _t__Sub::Attachment::INSTRUCTIONS
          type: string
        name:
          description: _t__Sub::Attachment::NAME
          type: string
        required:
          description: _t__Sub::Attachment::REQUIRED
          type: boolean
          default: false
        signer_index:
          description: _t__Sub::Attachment::SIGNER_INDEX
          type: integer
      type: object
    TemplateListResponse:
      properties:
        templates:
          description: _t__TemplateListResponse::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/TemplateResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    FileResponse:
      properties:
        file_url:
          description: _t__FileResponse::FILE_URL
          type: string
        expires_at:
          description: _t__FileResponse::EXPIRES_AT
          type: integer
      type: object
      x-internal: true
    TemplateUpdateFilesResponseTemplate:
      description: _t__TemplateUpdateFilesResponseTemplate::DESCRIPTION
      properties:
        template_id:
          description: _t__TemplateResponse::TEMPLATE_ID
          type: string
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
          deprecated: true
      type: object
      x-internal: true
    SubFormFieldsPerDocumentBase:
      description: _t__Sub::FormFieldsPerDocument::DESCRIPTION
      required:
      - document_index
      - api_id
      - type
      - required
      - signer
      - width
      - height
      - x
      - y
      properties:
        document_index:
          description: _t__Sub::FormFieldsPerDocument::DOCUMENT_INDEX
          type: integer
        api_id:
          description: _t__Sub::FormFieldsPerDocument::API_ID
          type: string
        height:
          description: _t__Sub::FormFieldsPerDocument::HEIGHT
          type: integer
        name:
          description: _t__Sub::FormFieldsPerDocument::NAME
          type: string
        page:
          description: _t__Sub::FormFieldsPerDocument::PAGE
          type:
          - integer
          - 'null'
        required:
          description: _t__Sub::FormFieldsPerDocument::REQUIRED
          type: boolean
        signer:
          description: _t__Sub::FormFieldsPerDocument::SIGNER
          type: string
          x-int-or-string: true
        type:
          type: string
        width:
          description: _t__Sub::FormFieldsPerDocument::WIDTH
          type: integer
        x:
          description: _t__Sub::FormFieldsPerDocument::X
          type: integer
        y:
          description: _t__Sub::FormFieldsPerDocument::Y
          type: integer
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SubFormFieldsPerDocumentText'
          dropdown: '#/components/schemas/SubFormFieldsPerDocumentDropdown'
          hyperlink: '#/components/schemas/SubFormFieldsPerDocumentHyperlink'
          checkbox: '#/components/schemas/SubFormFieldsPerDocumentCheckbox'
          radio: '#/components/schemas/SubFormFieldsPerDocumentRadio'
          signature: '#/components/schemas/SubFormFieldsPerDocumentSignature'
          date_signed: '#/components/schemas/SubFormFieldsPerDocumentDateSigned'
          initials: '#/components/schemas/SubFormFieldsPerDocumentInitials'
          text-merge: '#/components/schemas/SubFormFieldsPerDocumentTextMerge'
          checkbox-merge: '#/components/schemas/SubFormFieldsPerDocumentCheckboxMerge'
      x-internal: true
      x-base-class: true
    TemplateResponseAccount:
      properties:
        account_id:
          description: _t__TemplateResponseAccount::ACCOUNT_ID
          type: string
        email_address:
          description: _t__TemplateResponseAccount::EMAIL_ADDRESS
          type: string
        is_locked:
          description: _t__TemplateResponseAccount::IS_LOCKED
          type: boolean
        is_paid_hs:
          description: _t__TemplateResponseAccount::IS_PAID_HS
          type: boolean
        is_paid_hf:
          description: _t__TemplateResponseAccount::IS_PAID_HF
          type: boolean
        quotas:
          $ref: '#/components/schemas/TemplateResponseAccountQuota'
      type: object
      x-internal: true
    TemplateResponseSignerRole:
      properties:
        name:
          description: _t__TemplateResponseSignerRole::NAME
          type: string
        order:
          description: _t__TemplateResponseSignerRole::ORDER
          type: integer
      type: object
      x-internal: true
    SubFormFieldRule:
      required:
      - id
      - trigger_operator
      - triggers
      - actions
      properties:
        id:
          description: _t__Sub::FormFieldRule::ID
          type: string
        trigger_operator:
          description: _t__Sub::FormFieldRule::TRIGGER_OPERATOR
          type: string
          default: AND
        triggers:
          description: _t__Sub::FormFieldRuleTrigger::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRuleTrigger'
          maxItems: 1
          minItems: 1
        actions:
          description: _t__Sub::FormFieldRuleAction::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRuleAction'
          minItems: 1
      type: object
    TemplateRemoveUserRequest:
      properties:
        account_id:
          description: _t__TemplateRemoveUser::ACCOUNT_ID
          type: string
        email_address:
          description: _t__TemplateRemoveUser::EMAIL_ADDRESS
          type: string
          format: email
      type: object
    SubFormFieldRuleAction:
      required:
      - hidden
      - type
      properties:
        field_id:
          description: _t__Sub::FormFieldRuleAction::FIELD_ID
          type: string
        group_id:
          description: _t__Sub::FormFieldRuleAction::GROUP_ID
          type: string
        hidden:
          description: _t__Sub::FormFieldRuleAction::HIDDEN
          type: boolean
        type:
          type: string
          enum:
          - change-field-visibility
          - change-group-visibility
      type: object
    TemplateResponseDocumentFieldGroup:
      properties:
        name:
          description: _t__TemplateResponseDocumentFieldGroup::NAME
          type: string
        rule:
          $ref: '#/components/schemas/TemplateResponseDocumentFieldGroupRule'
      type: object
      x-internal: true
    SubFieldOptions:
      description: _t__Sub::FieldOptions::DESCRIPTION
      required:
      - date_format
      properties:
        date_format:
          description: _t__Sub::FieldOptions::DATE_FORMAT
          type: string
          enum:
          - MM / DD / YYYY
          - MM - DD - YYYY
          - DD / MM / YYYY
          - DD - MM - YYYY
          - YYYY / MM / DD
          - YYYY - MM - DD
          x-enum-varnames:
          - MMDDYYYY
          - MM_DD_YYYY
          - DDMMYYYY
          - DD_MM_YYYY
          - YYYYMMDD
          - YYYY_MM_DD
      type: object
    SubFormFieldGroup:
      required:
      - group_id
      - group_label
      - requirement
      properties:
        group_id:
          description: _t__Sub::FormFieldGroup::GROUP_ID_LABEL
          type: string
        group_label:
          description: _t__Sub::FormFieldGroup::GROUP_LABEL
          type: string
        requirement:
          description: _t__Sub::FormFieldGroup::REQUIREMENT
          type: string
      type: object
    SubFormFieldRuleTrigger:
      required:
      - id
      - operator
      properties:
        id:
          description: _t__Sub::FormFieldRuleTrigger::ID
          type: string
        operator:
          description: _t__Sub::FormFieldRuleTrigger::OPERATOR
          type: string
          enum:
          - any
          - is
          - match
          - none
          - not
        value:
          description: _t__Sub::FormFieldRuleTrigger::VALUE_SINGLE
          type: string
        values:
          description: _t__Sub::FormFieldRuleTrigger::VALUE_MULTI
          type: array
          items:
            type: string
      type: object
    TemplateResponseDocumentCustomFieldBase:
      description: _t__TemplateResponseDocumentCustomField::DESCRIPTION
      required:
      - type
      properties:
        api_id:
          description: _t__TemplateResponseDocumentCustomField::API_ID
          type: string
        name:
          description: _t__TemplateResponseDocumentCustomField::NAME
          type: string
        type:
          type: string
        signer:
          description: _t__TemplateResponseDocumentCustomField::SIGNER
          type:
          - string
          - 'null'
        x:
          description: _t__TemplateResponseDocumentCustomField::X
          type: integer
        y:
          description: _t__TemplateResponseDocumentCustomField::Y
          type: integer
        width:
          description: _t__TemplateResponseDocumentCustomField::WIDTH
          type: integer
        height:
          description: _t__TemplateResponseDocumentCustomField::HEIGHT
          type: integer
        required:
          description: _t__TemplateResponseDocumentStaticField::REQUIRED
          type: boolean
        group:
          description: _t__TemplateResponseDocumentCustomField::GROUP
          type:
          - string
          - 'null'
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TemplateResponseDocumentCustomFieldText'
          checkbox: '#/components/schemas/TemplateResponseDocumentCustomFieldCheckbox'
      x-internal: true
      x-base-class: true
    TemplateCreateEmbeddedDraftRequest:
      required:
      - client_id
      properties:
        files:
          description: _t__TemplateCreateEmbeddedDraft::FILES
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: _t__TemplateCreateEmbeddedDraft::FILE_URLS
          type: array
          items:
            type: string
        allow_ccs:
          description: _t__TemplateCreateEmbeddedDraft::ALLOW_CCS
          type: boolean
          default: true
        allow_reassign:
          description: _t__TemplateCreateEmbeddedDraft::ALLOW_REASSIGN
          type: boolean
          default: false
        attachments:
          description: _t__SubAttachment::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubAttachment'
        cc_roles:
          description: _t__TemplateCreateEmbeddedDraft::CC_ROLES
          type: array
          items:
            type: string
        client_id:
          description: _t__TemplateCreateEmbeddedDraft::CLIENT_ID
          type: string
        editor_options:
          $ref: '#/components/schemas/SubEditorOptions'
        field_options:
          $ref: '#/components/schemas/SubFieldOptions'
        force_signer_roles:
          description: _t__TemplateCreateEmbeddedDraft::FORCE_SIGNER_ROLES
          type: boolean
          default: false
        force_subject_message:
          description: _t__TemplateCreateEmbeddedDraft::FORCE_SUBJECT_MESSAGE
          type: boolean
          default: false
        form_field_groups:
          description: _t__Sub::FormFieldGroup::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldGroup'
        form_field_rules:
          description: _t__Sub::FormFieldRule::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRule'
        form_fields_per_document:
          description: _t__Sub::FormFieldsPerDocument::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldsPerDocumentBase'
        merge_fields:
          description: _t__TemplateCreateEmbeddedDraft::MERGE_FIELDS
          type: array
          items:
            $ref: '#/components/schemas/SubMergeField'
        message:
          description: _t__TemplateCreateEmbeddedDraft::MESSAGE
          type: string
          maxLength: 5000
        metadata:
          description: _t__Sub::Metadata::DESCRIPTION
          type: object
          maxItems: 10
          additionalProperties: {}
        show_preview:
          description: _t__TemplateCreateEmbeddedDraft::SHOW_PREVIEW
          type: boolean
          default: false
        show_progress_stepper:
          description: _t__TemplateCreateEmbeddedDraft::SHOW_PROGRESS_STEPPER
          type: boolean
          default: true
        signer_roles:
          description: _t__TemplateCreateEmbeddedDraft::SIGNER_ROLES
          type: array
          items:
            $ref: '#/components/schemas/SubTemplateRole'
        skip_me_now:
          description: _t__TemplateCreateEmbeddedDraft::SKIP_ME_NOW
          type: boolean
          default: false
        subject:
          description: _t__TemplateCreateEmbeddedDraft::SUBJECT
          type: string
          maxLength: 200
        test_mode:
          description: _t__TemplateCreateEmbeddedDraft::TEST_MODE
          type: boolean
          default: false
        title:
          description: _t__TemplateCreateEmbeddedDraft::TITLE
          type: string
        use_preexisting_fields:
          description: _t__TemplateCreateEmbeddedDraft::USE_PREEXISTING_FIELDS
          type: boolean
          default: false
      type: object
  examples:
    TemplateCreateRequestFormFieldsPerDocumentExample:
      summary: Form Fields Per Document Example
      value:
        $ref: examples/json/TemplateCreateRequestFormFieldsPerDocumentExample.json
    Error402ResponseExample:
      summary: _t__Error::402
      value:
        $ref: examples/json/Error402ResponseExample.json
    TemplateCreateRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/TemplateCreateRequestDefaultExample.json
    TemplateCreateRequestFormFieldGroupsExample:
      summary: Form Fields Per Document and Groups Example
      value:
        $ref: examples/json/TemplateCreateRequestFormFieldGroupsExample.json
    Error4XXResponseExample:
      summary: _t__Error::4XX
      value:
        $ref: examples/json/Error4XXResponseExample.json
    Error401ResponseExample:
      summary: _t__Error::401
      value:
        $ref: examples/json/Error401ResponseExample.json
    Error403ResponseExample:
      summary: _t__Error::403
      value:
        $ref: examples/json/Error403ResponseExample.json
    TemplateListResponseExample:
      summary: _t__TemplateListResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateListResponseExample.json
    TemplateCreateEmbeddedDraftRequestFormFieldRulesExample:
      summary: Form Fields Per Document and Rules Example
      value:
        $ref: examples/json/TemplateCreateEmbeddedDraftRequestFormFieldRulesExample.json
    TemplateRemoveUserResponseExample:
      summary: _t__TemplateRemoveUserResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateRemoveUserResponseExample.json
    TemplateCreateEmbeddedDraftRequestFormFieldGroupsExample:
      summary: Form Fields Per Document and Groups Example
      value:
        $ref: examples/json/TemplateCreateEmbeddedDraftRequestFormFieldGroupsExample.json
    TemplateUpdateFilesRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/TemplateUpdateFilesRequestDefaultExample.json
    Error400ResponseExample:
      summary: _t__Error::400
      value:
        $ref: examples/json/Error400ResponseExample.json
    TemplateAddUserResponseExample:
      summary: _t__TemplateAddUserResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateAddUserResponseExample.json
    TemplateAddUserRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/TemplateAddUserRequestDefaultExample.json
    TemplateRemoveUserRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/TemplateRemoveUserRequestDefaultExample.json
    Error409ResponseExample:
      summary: _t__Error::409
      value:
        $ref: examples/json/Error409ResponseExample.json
    TemplateUpdateFilesResponseExample:
      summary: _t__TemplateUpdateFilesResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateUpdateFilesResponseExample.json
    Error422ResponseExample:
      summary: _t__Error::422
      value:
        $ref: examples/json/Error422ResponseExample.json
    TemplateCreateEmbeddedDraftResponseExample:
      summary: _t__TemplateCreateEmbeddedDraftResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateCreateEmbeddedDraftResponseExample.json
    TemplateCreateEmbeddedDraftRequestFormFieldsPerDocumentExample:
      summary: Form Fields Per Document Example
      value:
        $ref: examples/json/TemplateCreateEmbeddedDraftRequestFormFieldsPerDocumentExample.json
    TemplateCreateEmbeddedDraftRequestDefaultExample:
      summary: Default Example
      value:
        $ref: examples/json/TemplateCreateEmbeddedDraftRequestDefaultExample.json
    TemplateCreateRequestFormFieldRulesExample:
      summary: Form Fields Per Document and Rules Example
      value:
        $ref: examples/json/TemplateCreateRequestFormFieldRulesExample.json
    TemplateFilesResponseExample:
      summary: _t__TemplateFilesResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateFilesResponseExample.json
    Error429ResponseExample:
      summary: _t__Error::429
      value:
        $ref: examples/json/Error429ResponseExample.json
    TemplateCreateResponseExample:
      summary: _t__TemplateCreateResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateCreateResponseExample.json
    TemplateGetResponseExample:
      summary: _t__TemplateGetResponseExample::SUMMARY
      value:
        $ref: examples/json/TemplateGetResponseExample.json
    Error404ResponseExample:
      summary: _t__Error::404
      value:
        $ref: examples/json/Error404ResponseExample.json
  headers:
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    api_key:
      type: http
      description: _t__OpenApi::AUTH::API_KEY
      scheme: basic
    oauth2:
      type: http
      description: _t__OpenApi::AUTH::OAUTH
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
