openapi: 3.2.0
info:
  title: Dropbox API Reference Auth API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Auth
paths:
  /2/auth/token/from_oauth1:
    post:
      tags:
      - Auth
      summary: Dropbox token/from_oauth1
      description: 'token/from_oauth1


        scope: `None`


        Creates an OAuth 2.0 access token from the supplied OAuth 1.0 access token.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"oauth1_token\": \"qievr8hamyg6ndck\", \n    \"oauth1_token_secret\": \"qomoftv0472git7\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                oauth2_token: 9mCrkS7BIdAAAAAAAAAAHHS0TsSnpYvKQVtKdBnN5IuzhYOGblSgTcHgBFKFMmFn
      operationId: post2AuthTokenFromOauth1
      x-operation-id-source: derived
  /2/auth/token/revoke:
    post:
      tags:
      - Auth
      summary: Dropbox token/revoke
      description: 'token/revoke


        scope: `None`


        Disables the access token used to authenticate the call.'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2AuthTokenRevoke
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
