openapi: 3.2.0
info:
  title: Dropbox API Reference Team > Linked_apps API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Team > Linked_apps
paths:
  /2/team/linked_apps/list_member_linked_apps:
    post:
      tags:
      - Team > Linked_apps
      summary: Dropbox linked_apps/list_member_linked_apps
      description: 'linked_apps/list_member_linked_apps


        scope: `sessions.list`


        List all linked applications of the team member.

        Note, this endpoint does not list any team-linked applications.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"team_member_id\": \"dbmid:AAFdgehTzw7WlXhZJsbGCLePe8RvQGYDr-I\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamLinkedAppsListMemberLinkedApps
      x-operation-id-source: derived
  /2/team/linked_apps/list_members_linked_apps:
    post:
      tags:
      - Team > Linked_apps
      summary: Dropbox linked_apps/list_members_linked_apps
      description: 'linked_apps/list_members_linked_apps


        scope: `sessions.list`


        List all applications linked to the team members'' accounts.

        Note, this endpoint does not list any team-linked applications.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamLinkedAppsListMembersLinkedApps
      x-operation-id-source: derived
  /2/team/linked_apps/revoke_linked_app:
    post:
      tags:
      - Team > Linked_apps
      summary: Dropbox linked_apps/revoke_linked_app
      description: 'linked_apps/revoke_linked_app


        scope: `sessions.modify`


        Revoke a linked application of the team member.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamLinkedAppsRevokeLinkedApp
      x-operation-id-source: derived
  /2/team/linked_apps/revoke_linked_app_batch:
    post:
      tags:
      - Team > Linked_apps
      summary: Dropbox linked_apps/revoke_linked_app_batch
      description: 'linked_apps/revoke_linked_app_batch


        scope: `sessions.modify`


        Revoke a list of linked applications of the team members.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamLinkedAppsRevokeLinkedAppBatch
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
