openapi: 3.2.0
info:
  title: Dropbox API Reference Team > Reports API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Team > Reports
paths:
  /2/team/reports/get_activity:
    post:
      tags:
      - Team > Reports
      summary: Dropbox reports/get_activity
      description: 'reports/get_activity


        scope: `team_info.read`


        Retrieves reporting data about a team''s user activity.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamReportsGetActivity
      x-operation-id-source: derived
  /2/team/reports/get_devices:
    post:
      tags:
      - Team > Reports
      summary: Dropbox reports/get_devices
      description: 'reports/get_devices


        scope: `team_info.read`


        Retrieves reporting data about a team''s linked devices.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamReportsGetDevices
      x-operation-id-source: derived
  /2/team/reports/get_membership:
    post:
      tags:
      - Team > Reports
      summary: Dropbox reports/get_membership
      description: 'reports/get_membership


        scope: `team_info.read`


        Retrieves reporting data about a team''s membership.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamReportsGetMembership
      x-operation-id-source: derived
  /2/team/reports/get_storage:
    post:
      tags:
      - Team > Reports
      summary: Dropbox reports/get_storage
      description: 'reports/get_storage


        scope: `team_info.read`


        Retrieves reporting data about a team''s storage usage.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: post2TeamReportsGetStorage
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
