openapi: 3.2.0
info:
  title: Dropbox Sign Bulk Send Job API
  description: The Dropbox Sign API offers a reliable, flexible set of eSignature tools that can be used to power digital agreements and turn slow, outdated business processes into a competitive advantage. With a broad range of highly-configurable features, the Dropbox Sign API empowers you to build secure signing experiences and document workflows that delight your users.
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
  oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: Bulk Send Job
  description: _md__OpenApi::TAG::BULK_SEND_JOB::DESCRIPTION
paths:
  /bulk_send_job/{bulk_send_job_id}:
    get:
      tags:
      - Bulk Send Job
      summary: Dropbox _t__BulkSendJobGet::SUMMARY
      description: _t__BulkSendJobGet::DESCRIPTION
      operationId: bulkSendJobGet
      parameters:
      - name: bulk_send_job_id
        in: path
        description: _t__BulkSendJobGet::BULK_SEND_JOB_ID
        required: true
        schema:
          type: string
        example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
      - name: page
        in: query
        description: _t__BulkSendJobGet::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__BulkSendJobGet::PAGE_SIZE
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/BulkSendJobGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/BulkSendJobGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/BulkSendJobGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/BulkSendJobGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/BulkSendJobGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/BulkSendJobGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/BulkSendJobGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/BulkSendJobGet.sh
      x-meta:
        seo:
          title: _t__BulkSendJobGet::SEO::TITLE
          description: _t__BulkSendJobGet::SEO::DESCRIPTION
  /bulk_send_job/list:
    get:
      tags:
      - Bulk Send Job
      summary: Dropbox _t__BulkSendJobList::SUMMARY
      description: _t__BulkSendJobList::DESCRIPTION
      operationId: bulkSendJobList
      parameters:
      - name: page
        in: query
        description: _t__BulkSendJobList::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__BulkSendJobList::PAGE_SIZE
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/BulkSendJobList.php
      - lang: C#
        label: C#
        source:
          $ref: examples/BulkSendJobList.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/BulkSendJobList.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/BulkSendJobList.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/BulkSendJobList.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/BulkSendJobList.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/BulkSendJobList.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/BulkSendJobList.sh
      x-meta:
        seo:
          title: _t__BulkSendJobList::SEO::TITLE
          description: _t__BulkSendJobList::SEO::DESCRIPTION
components:
  schemas:
    SignatureRequestResponseAttachment:
      description: _t__SignatureRequestResponseAttachment::DESCRIPTION
      required:
      - id
      - signer
      - name
      - required
      properties:
        id:
          description: _t__SignatureRequestResponseAttachment::ID
          type: string
        signer:
          description: _t__SignatureRequestResponseAttachment::SIGNER
          type: string
        name:
          description: _t__SignatureRequestResponseAttachment::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseAttachment::REQUIRED
          type: boolean
        instructions:
          description: _t__SignatureRequestResponseAttachment::INSTRUCTIONS
          type:
          - string
          - 'null'
        uploaded_at:
          description: _t__SignatureRequestResponseAttachment::UPLOADED_AT
          type:
          - integer
          - 'null'
      type: object
      x-internal: true
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    SignatureRequestResponseDataBase:
      description: _t__SignatureRequestResponseData::DESCRIPTION
      properties:
        api_id:
          description: _t__SignatureRequestResponseData::API_ID
          type: string
        signature_id:
          description: _t__SignatureRequestResponseData::SIGNATURE_ID
          type: string
        name:
          description: _t__SignatureRequestResponseData::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseData::REQUIRED
          type: boolean
        type:
          type: string
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SignatureRequestResponseDataValueText'
          checkbox: '#/components/schemas/SignatureRequestResponseDataValueCheckbox'
          dropdown: '#/components/schemas/SignatureRequestResponseDataValueDropdown'
          radio: '#/components/schemas/SignatureRequestResponseDataValueRadio'
          signature: '#/components/schemas/SignatureRequestResponseDataValueSignature'
          date_signed: '#/components/schemas/SignatureRequestResponseDataValueDateSigned'
          initials: '#/components/schemas/SignatureRequestResponseDataValueInitials'
          text-merge: '#/components/schemas/SignatureRequestResponseDataValueTextMerge'
          checkbox-merge: '#/components/schemas/SignatureRequestResponseDataValueCheckboxMerge'
      x-internal: true
      x-base-class: true
    BulkSendJobGetResponse:
      properties:
        bulk_send_job:
          $ref: '#/components/schemas/BulkSendJobResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        signature_requests:
          description: _t__BulkSendJobGetResponse::SIGNATURE_REQUESTS
          type: array
          items:
            $ref: '#/components/schemas/BulkSendJobGetResponseSignatureRequests'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    BulkSendJobListResponse:
      properties:
        bulk_send_jobs:
          description: _t__BulkSendJobListResponse::BULK_SEND_JOBS
          type: array
          items:
            $ref: '#/components/schemas/BulkSendJobResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    SignatureRequestResponse:
      description: _t__SignatureRequestResponse::DESCRIPTION
      properties:
        test_mode:
          description: _t__SignatureRequestResponse::TEST_MODE
          type:
          - boolean
          - 'null'
          default: false
        signature_request_id:
          description: _t__SignatureRequestResponse::SIGNATURE_REQUEST_ID
          type: string
        requester_email_address:
          description: _t__SignatureRequestResponse::REQUESTER_EMAIL_ADDRESS
          type: string
        title:
          description: _t__SignatureRequestResponse::TITLE
          type: string
        original_title:
          description: _t__SignatureRequestResponse::ORIGINAL_TITLE
          type: string
        subject:
          description: _t__SignatureRequestResponse::SUBJECT
          type:
          - string
          - 'null'
        message:
          description: _t__SignatureRequestResponse::MESSAGE
          type:
          - string
          - 'null'
        metadata:
          description: _t__SignatureRequestResponse::METADATA
          type: object
        created_at:
          description: _t__SignatureRequestResponse::CREATED_AT
          type: integer
        expires_at:
          description: _t__SignatureRequestResponse::EXPIRES_AT
          type: integer
        is_complete:
          description: _t__SignatureRequestResponse::IS_COMPLETE
          type: boolean
        is_declined:
          description: _t__SignatureRequestResponse::IS_DECLINED
          type: boolean
        has_error:
          description: _t__SignatureRequestResponse::HAS_ERROR
          type: boolean
        files_url:
          description: _t__SignatureRequestResponse::FILES_URL
          type: string
        signing_url:
          description: _t__SignatureRequestResponse::SIGNING_URL
          type:
          - string
          - 'null'
        details_url:
          description: _t__SignatureRequestResponse::DETAILS_URL
          type: string
        cc_email_addresses:
          description: _t__SignatureRequestResponse::CC_EMAIL_ADDRESSES
          type: array
          items:
            type: string
        signing_redirect_url:
          description: _t__SignatureRequestResponse::SIGNING_REDIRECT_URL
          type:
          - string
          - 'null'
        final_copy_uri:
          description: _t__SignatureRequestResponse::FINAL_COPY_URI
          type:
          - string
          - 'null'
        template_ids:
          description: _t__SignatureRequestResponse::TEMPLATE_IDS
          type:
          - array
          - 'null'
          items:
            type: string
        custom_fields:
          description: _t__SignatureRequestResponseCustomField::DESCRIPTION
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SignatureRequestResponseCustomFieldBase'
        attachments:
          description: _t__SignatureRequestResponseAttachment::DESCRIPTION
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SignatureRequestResponseAttachment'
        response_data:
          description: _t__SignatureRequestResponseData::DESCRIPTION
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SignatureRequestResponseDataBase'
        signatures:
          description: _t__SignatureRequestResponseSignatures::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SignatureRequestResponseSignatures'
        bulk_send_job_id:
          description: _t__SignatureRequestResponse::BULK_SEND_JOB_ID
          type:
          - string
          - 'null'
      type: object
      x-internal: true
    SignatureRequestResponseCustomFieldBase:
      description: _t__SignatureRequestResponseCustomField::DESCRIPTION
      required:
      - name
      - type
      properties:
        type:
          description: _t__SignatureRequestResponseCustomField::TYPE
          type: string
        name:
          description: _t__SignatureRequestResponseCustomField::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseCustomField::REQUIRED
          type: boolean
        api_id:
          description: _t__SignatureRequestResponseCustomField::API_ID
          type: string
        editor:
          description: _t__SignatureRequestResponseCustomField::EDITOR
          type: string
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SignatureRequestResponseCustomFieldText'
          checkbox: '#/components/schemas/SignatureRequestResponseCustomFieldCheckbox'
      x-internal: true
      x-base-class: true
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
    SignatureRequestResponseSignatures:
      description: _t__SignatureRequestResponseSignatures::DESCRIPTION
      properties:
        signature_id:
          description: _t__SignatureRequestResponseSignatures::SIGNATURE_ID
          type: string
        signer_group_guid:
          description: _t__SignatureRequestResponseSignatures::SIGNER_GROUP_GUID
          type:
          - string
          - 'null'
        signer_email_address:
          description: _t__SignatureRequestResponseSignatures::SIGNER_EMAIL_ADDRESS
          type: string
        signer_name:
          description: _t__SignatureRequestResponseSignatures::SIGNER_NAME
          type:
          - string
          - 'null'
        signer_role:
          description: _t__SignatureRequestResponseSignatures::SIGNER_ROLE
          type:
          - string
          - 'null'
        order:
          description: _t__SignatureRequestResponseSignatures::ORDER
          type:
          - integer
          - 'null'
        status_code:
          description: _t__SignatureRequestResponseSignatures::STATUS_CODE
          type: string
        decline_reason:
          description: _t__SignatureRequestResponseSignatures::DECLINE_REASON
          type:
          - string
          - 'null'
        signed_at:
          description: _t__SignatureRequestResponseSignatures::SIGNED_AT
          type:
          - integer
          - 'null'
        last_viewed_at:
          description: _t__SignatureRequestResponseSignatures::LAST_VIEWED_AT
          type:
          - integer
          - 'null'
        last_reminded_at:
          description: _t__SignatureRequestResponseSignatures::LAST_REMINDED_AT
          type:
          - integer
          - 'null'
        has_pin:
          description: _t__SignatureRequestResponseSignatures::HAS_PIN
          type: boolean
        has_sms_auth:
          description: _t__SignatureRequestResponseSignatures::HAS_SMS_AUTH
          type:
          - boolean
          - 'null'
        has_sms_delivery:
          description: _t__SignatureRequestResponseSignatures::HAS_SMS_DELIVERY
          type:
          - boolean
          - 'null'
        sms_phone_number:
          description: _t__SignatureRequestResponseSignatures::SMS_PHONE_NUMBER
          type:
          - string
          - 'null'
        reassigned_by:
          description: _t__SignatureRequestResponseSignatures::REASSIGNED_BY
          type:
          - string
          - 'null'
        reassignment_reason:
          description: _t__SignatureRequestResponseSignatures::REASSIGNMENT_REASON
          type:
          - string
          - 'null'
        reassigned_from:
          description: _t__SignatureRequestResponseSignatures::REASSIGNED_FROM
          type:
          - string
          - 'null'
        error:
          description: _t__SignatureRequestResponseSignatures::ERROR
          type:
          - string
          - 'null'
      type: object
      x-internal: true
    WarningResponse:
      description: _t__WarningResponse::LIST_DESCRIPTION
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: _t__WarningResponse::WARNING_MSG
          type: string
        warning_name:
          description: _t__WarningResponse::WARNING_NAME
          type: string
      type: object
    ListInfoResponse:
      description: _t__ListInfoResponse::DESCRIPTION
      properties:
        num_pages:
          description: _t__ListInfoResponse::NUM_PAGES
          type: integer
        num_results:
          description: _t__ListInfoResponse::NUM_RESULTS
          type:
          - integer
          - 'null'
        page:
          description: _t__ListInfoResponse::PAGE
          type: integer
        page_size:
          description: _t__ListInfoResponse::PAGE_SIZE
          type: integer
      type: object
      x-internal: true
    BulkSendJobGetResponseSignatureRequests:
      title: BulkSendJobGetResponseSignatureRequests
      type: object
      allOf:
      - $ref: '#/components/schemas/SignatureRequestResponse'
      - properties:
          bulk_send_job_id:
            description: _t__BulkSendJobGetResponseSignatureRequests::BULK_SEND_JOB_ID
            type: string
      x-internal: true
    BulkSendJobResponse:
      description: _t__BulkSendJobResponse::DESCRIPTION
      properties:
        bulk_send_job_id:
          description: _t__BulkSendJobResponse::BULK_SEND_JOB_ID
          type:
          - string
          - 'null'
        total:
          description: _t__BulkSendJobResponse::TOTAL
          type: integer
        is_creator:
          description: _t__BulkSendJobResponse::IS_CREATOR
          type: boolean
        created_at:
          description: _t__BulkSendJobResponse::CREATED_AT
          type: integer
      type: object
      x-internal: true
  examples:
    Error402ResponseExample:
      summary: _t__Error::402
      value:
        $ref: examples/json/Error402ResponseExample.json
    Error403ResponseExample:
      summary: _t__Error::403
      value:
        $ref: examples/json/Error403ResponseExample.json
    Error4XXResponseExample:
      summary: _t__Error::4XX
      value:
        $ref: examples/json/Error4XXResponseExample.json
    Error401ResponseExample:
      summary: _t__Error::401
      value:
        $ref: examples/json/Error401ResponseExample.json
    BulkSendJobListResponseExample:
      summary: _t__BulkSendJobListResponseExample::SUMMARY
      value:
        $ref: examples/json/BulkSendJobListResponseExample.json
    Error400ResponseExample:
      summary: _t__Error::400
      value:
        $ref: examples/json/Error400ResponseExample.json
    BulkSendJobGetResponseExample:
      summary: _t__BulkSendJobGetResponseExample::SUMMARY
      value:
        $ref: examples/json/BulkSendJobGetResponseExample.json
  headers:
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    api_key:
      type: http
      description: _t__OpenApi::AUTH::API_KEY
      scheme: basic
    oauth2:
      type: http
      description: _t__OpenApi::AUTH::OAUTH
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
