openapi: 3.2.0
info:
  title: Dropbox API Reference Team > Namespaces API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Team > Namespaces
paths:
  /2/team/namespaces/list:
    post:
      tags:
      - Team > Namespaces
      summary: Dropbox namespaces/list
      description: 'namespaces/list


        scope: `team_data.member`


        Returns a list of all team-accessible namespaces. This list includes team folders, shared folders containing team members, team members'' home namespaces, and team members'' app folders. Home namespaces and app folders are always owned by this team or members of the team, but shared folders may be owned by other users or other teams. Duplicates may occur in the list.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"limit\": 1\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                namespaces:
                - name: Marketing
                  namespace_id: '123456789'
                  namespace_type:
                    .tag: shared_folder
                - name: Franz Ferdinand
                  namespace_id: '123456789'
                  namespace_type:
                    .tag: team_member_folder
                  team_member_id: dbmid:1234567
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: false
      operationId: post2TeamNamespacesList
      x-operation-id-source: derived
  /2/team/namespaces/list/continue:
    post:
      tags:
      - Team > Namespaces
      summary: Dropbox namespaces/list/continue
      description: 'namespaces/list/continue


        scope: `team_data.member`


        Once a cursor has been retrieved from `namespaces/list`, use this to paginate through all team-accessible namespaces. Duplicates may occur in the list.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"cursor\": \"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                namespaces:
                - name: Marketing
                  namespace_id: '123456789'
                  namespace_type:
                    .tag: shared_folder
                - name: Franz Ferdinand
                  namespace_id: '123456789'
                  namespace_type:
                    .tag: team_member_folder
                  team_member_id: dbmid:1234567
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: false
      operationId: post2TeamNamespacesListContinue
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
