openapi: 3.2.0
info:
  title: Dropbox API Reference File Requests API
  description: The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways.
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: File Requests
  description: This namespace contains endpoints and data types for file request operations.
paths:
  /2/file_requests/count:
    post:
      tags:
      - File Requests
      summary: Dropbox count
      description: 'count


        scope: `file_requests.read`


        Returns the total number of file requests owned by this user. Includes both open and closed file requests.'
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_request_count: 15
      operationId: post2FileRequestsCount
      x-operation-id-source: derived
  /2/file_requests/create:
    post:
      tags:
      - File Requests
      summary: Dropbox create
      description: 'create


        scope: `file_requests.write`


        Creates a file request for this user.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"title\": \"Homework submission\", \n    \"destination\": \"/File Requests/Homework\", \n    \"deadline\": {\n        \"deadline\": \"2020-10-12T17:00:00Z\", \n        \"allow_late_uploads\": \"seven_days\"\n    }, \n    \"open\": true\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: oaCAVmEyrqYnkZX9955Y
                url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                title: Homework submission
                created: '2015-10-05T17:00:00Z'
                is_open: true
                file_count: 3
                destination: /File Requests/Homework
                deadline:
                  deadline: '2020-10-12T17:00:00Z'
                  allow_late_uploads:
                    .tag: seven_days
      operationId: post2FileRequestsCreate
      x-operation-id-source: derived
  /2/file_requests/delete:
    post:
      tags:
      - File Requests
      summary: Dropbox delete
      description: 'delete


        scope: `file_requests.write`


        Delete a batch of closed file requests.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"ids\": [\n        \"oaCAVmEyrqYnkZX9955Y\", \n        \"BaZmehYoXMPtaRmfTbSG\"\n    ]\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                - id: oaCAVmEyrqYnkZX9955Y
                  url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                  title: Homework submission
                  created: '2015-10-05T17:00:00Z'
                  is_open: true
                  file_count: 3
                  destination: /File Requests/Homework
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                    allow_late_uploads:
                      .tag: seven_days
                - id: BAJ7IrRGicQKGToykQdB
                  url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                  title: Photo contest submission
                  created: '2015-11-02T04:00:00Z'
                  is_open: true
                  file_count: 105
                  destination: /Photo contest entries
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                - id: rxwMPvK3ATTa0VxOJu5T
                  url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                  title: Wedding photo submission
                  created: '2015-12-15T13:02:00Z'
                  is_open: true
                  file_count: 37
                  destination: /Wedding photos
      operationId: post2FileRequestsDelete
      x-operation-id-source: derived
  /2/file_requests/delete_all_closed:
    post:
      tags:
      - File Requests
      summary: Dropbox delete_all_closed
      description: 'delete_all_closed


        scope: `file_requests.write`


        Delete all closed file requests owned by this user.'
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                - id: oaCAVmEyrqYnkZX9955Y
                  url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                  title: Homework submission
                  created: '2015-10-05T17:00:00Z'
                  is_open: true
                  file_count: 3
                  destination: /File Requests/Homework
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                    allow_late_uploads:
                      .tag: seven_days
                - id: BAJ7IrRGicQKGToykQdB
                  url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                  title: Photo contest submission
                  created: '2015-11-02T04:00:00Z'
                  is_open: true
                  file_count: 105
                  destination: /Photo contest entries
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                - id: rxwMPvK3ATTa0VxOJu5T
                  url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                  title: Wedding photo submission
                  created: '2015-12-15T13:02:00Z'
                  is_open: true
                  file_count: 37
                  destination: /Wedding photos
      operationId: post2FileRequestsDeleteAllClosed
      x-operation-id-source: derived
  /2/file_requests/get:
    post:
      tags:
      - File Requests
      summary: Dropbox get
      description: 'get


        scope: `file_requests.read`


        Returns the specified file request.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"id\": \"oaCAVmEyrqYnkZX9955Y\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: oaCAVmEyrqYnkZX9955Y
                url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                title: Homework submission
                created: '2015-10-05T17:00:00Z'
                is_open: true
                file_count: 3
                destination: /File Requests/Homework
                deadline:
                  deadline: '2020-10-12T17:00:00Z'
                  allow_late_uploads:
                    .tag: seven_days
      operationId: post2FileRequestsGet
      x-operation-id-source: derived
  /2/file_requests/list_v2:
    post:
      tags:
      - File Requests
      summary: Dropbox list
      description: 'list


        scope: `file_requests.read`


        Returns a list of file requests owned by this user. For apps with the app folder permission, this will only return file requests with destinations in the app folder.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"limit\": 1000\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                - id: oaCAVmEyrqYnkZX9955Y
                  url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                  title: Homework submission
                  created: '2015-10-05T17:00:00Z'
                  is_open: true
                  file_count: 3
                  destination: /File Requests/Homework
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                    allow_late_uploads:
                      .tag: seven_days
                - id: BAJ7IrRGicQKGToykQdB
                  url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                  title: Photo contest submission
                  created: '2015-11-02T04:00:00Z'
                  is_open: true
                  file_count: 105
                  destination: /Photo contest entries
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                - id: rxwMPvK3ATTa0VxOJu5T
                  url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                  title: Wedding photo submission
                  created: '2015-12-15T13:02:00Z'
                  is_open: true
                  file_count: 37
                  destination: /Wedding photos
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: true
      operationId: post2FileRequestsListV2
      x-operation-id-source: derived
  /2/file_requests/list/continue:
    post:
      tags:
      - File Requests
      summary: Dropbox list/continue
      description: 'list/continue


        scope: `file_requests.read`


        Once a cursor has been retrieved from `list:2`, use this to paginate through all file requests. The cursor must come from a previous call to `list:2` or `list/continue`.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"cursor\": \"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                - id: oaCAVmEyrqYnkZX9955Y
                  url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                  title: Homework submission
                  created: '2015-10-05T17:00:00Z'
                  is_open: true
                  file_count: 3
                  destination: /File Requests/Homework
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                    allow_late_uploads:
                      .tag: seven_days
                - id: BAJ7IrRGicQKGToykQdB
                  url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                  title: Photo contest submission
                  created: '2015-11-02T04:00:00Z'
                  is_open: true
                  file_count: 105
                  destination: /Photo contest entries
                  deadline:
                    deadline: '2020-10-12T17:00:00Z'
                - id: rxwMPvK3ATTa0VxOJu5T
                  url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                  title: Wedding photo submission
                  created: '2015-12-15T13:02:00Z'
                  is_open: true
                  file_count: 37
                  destination: /Wedding photos
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: true
      operationId: post2FileRequestsListContinue
      x-operation-id-source: derived
  /2/file_requests/update:
    post:
      tags:
      - File Requests
      summary: Dropbox update
      description: 'update


        scope: `file_requests.write`


        Update a file request.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"id\": \"oaCAVmEyrqYnkZX9955Y\", \n    \"title\": \"Homework submission\", \n    \"destination\": \"/File Requests/Homework\", \n    \"deadline\": {\n        \".tag\": \"update\", \n        \"deadline\": \"2020-10-12T17:00:00Z\", \n        \"allow_late_uploads\": \"seven_days\"\n    }, \n    \"open\": true\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: oaCAVmEyrqYnkZX9955Y
                url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                title: Homework submission
                created: '2015-10-05T17:00:00Z'
                is_open: true
                file_count: 3
                destination: /File Requests/Homework
                deadline:
                  deadline: '2020-10-12T17:00:00Z'
                  allow_late_uploads:
                    .tag: seven_days
      operationId: post2FileRequestsUpdate
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
