openapi: 3.0.0
info:
  title: Dropbox API Reference Account Team_log API
  description: "The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways. This is a collection that includes requests to all endpoints in the Dropbox API. \n\nThe Dropbox API is divided in two groups of endpoints: User Endpoints and Business Endpoints. Operations that would most likely be executed by a user, such as file operations, are in the User Endpoints folder. Operations that would most likely be executed by a team administrator, such as adding users to groups, live in the Business Endpoints folder. \n\nIf you are new to Dropbox Business and Team Administration, please have a look at the [Dropobox Admin Guide](https://help.dropbox.com/guide/admin/how-to-get-started#dropbox-admin-guide). \n\nIf you want more information on how to use our API please refer to our [Developer Portal](https://www.dropbox.com/developers). \n\n# What's in the collection?\n\nThe endpoints are organized in the following folders:\n* account\n* auth\n* check\n* contacts\n* file_properties\n* file_requests\n* files\n* sharing\n* team\n* team_log\n* users\n\n# Authorization\n\n## OAuth 2.0 for API Access\nDropbox uses OAuth 2.0, an open specification, to authorize access to data. To get an OAuth token from Dropbox to enable Postman to access your Dropbox account via the API you’ll need to create a new app on the DBX Platform.\n\n## Creating an App on the DBX Platform\nNavigate to https://www.dropbox.com/developers/apps and select “Create app” \n1. Choose an API  \n2. Choose the type of access you need \n3. Give your app a name  \n4. Choose the Dropbox account that will own your app  \n\nFor reference, please use the [Dropbox OAuth guide](https://www.dropbox.com/lp/developers/reference/oauth-guide) \n\n## Generating an Access Token\nOnce you select “Create app” a page will load that displays information about your newly created app. To generate an access token scroll down to “OAuth 2” and click “Generate” beneath “Generated access token.” The token will display as a long string of characters. Copy this token for use with the Postman Collection.\n\n## Adding an Access Token to the requests\nIn the Postman client, click on the three dots to the right of the collection name to \"View more actions.\"\n\n![Screenshot of adding access token](https://www.dropbox.com/s/sfebu9ai76cbq39/Screen%20Shot%202020-10-28%20at%2012.50.56%20AM.png?raw=1)\n\nThen, click \"Edit.\"\n\nClick on the \"Variables\" tab and, in the row for the `access_token` variable, paste your access token in the `CURRENT VALUE` column. The default value is `your-access-token-here`.\n\n![Screenshot of adding access token](https://www.dropbox.com/s/ahnbxwe6oscjues/Screen%20Shot%202020-10-28%20at%2012.51.13%20AM.png?raw=1)\n\nFor information on sessions and variables in Postman see the blog post at https://blog.postman.com/sessions-faq/.\n\n# Notes\n* Dropbox also has a Postman Collection in the API Network to help administrators with team management workflows. It is called [Dropbox Team Admin Workflows](). \n\n"
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Team_log
paths:
  /2/team_log/get_events:
    post:
      tags:
      - Team_log
      summary: Dropbox get_events
      description: '[get_events](https://www.dropbox.com/developers/documentation/http/teams#team_log-get_events)


        scope: `events.read`


        Retrieves team events. If the result''s `GetTeamEventsResult.has_more` field is `true`, call `get_events/continue` with the returned cursor to retrieve more entries. If end_time is not specified in your request, you may use the returned cursor to poll `get_events/continue` for new events.

        Many attributes note ''may be missing due to historical data gap''.

        Note that the file_operations category and & analogous paper events are not available on all Dropbox Business [plans](http://www.dropbox.com/business/plans-comparison). Use [features/get_values](http://www.dropbox.com/developers/documentation/http/teams#team-features-get_values) to check for this feature.

        Permission : Team Auditing.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"limit\": 50, \n    \"category\": \"groups\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                events:
                - timestamp: '2017-01-25T15:51:30Z'
                  event_category:
                    .tag: tfa
                  event_type:
                    .tag: shared_content_download
                    description: (sharing) Downloaded shared file/folder
                  details:
                    .tag: shared_content_download_details
                    shared_content_link: abc
                    shared_content_access_level:
                      .tag: viewer_no_comment
                    shared_content_owner:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  actor:
                    .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  origin:
                    access_method:
                      .tag: end_user
                      end_user:
                        .tag: web
                        session_id: dbwsid:123456789012345678901234567890123456789
                    geo_location:
                      ip_address: 45.56.78.100
                      city: San Francisco
                      region: California
                      country: US
                  involve_non_team_member: true
                  context:
                    .tag: team_member
                    account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                    display_name: John Smith
                    email: john_smith@acmecorp.com
                    team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                    member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                    team:
                      display_name: A Team
                  participants:
                  - .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAGx4oiLtHdvRdNxUpvvJBXYgR4BS19c9kw
                      display_name: Jane Smith
                      email: jane_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1225
                      team:
                        display_name: A Team
                  assets:
                  - .tag: file
                    path:
                      namespace_relative:
                        ns_id: '1234'
                        relative_path: /Contract Work/Draft
                        is_shared_namespace: false
                      contextual: /Contract Work/Draft
                    display_name: reports.xls
                    file_id: id:jQKLsZFQImAAAAAAEZAAQt
                    file_size: 4
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: false
  /2/team_log/get_events/continue:
    post:
      tags:
      - Team_log
      summary: Dropbox get_events/continue
      description: '[get_events/continue](https://www.dropbox.com/developers/documentation/http/teams#team_log-get_events-continue)


        scope: `events.read`


        Once a cursor has been retrieved from `get_events`, use this to paginate through all events.

        Permission : Team Auditing.'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"cursor\": \"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\"\n}"'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                events:
                - timestamp: '2017-01-25T15:51:30Z'
                  event_category:
                    .tag: tfa
                  event_type:
                    .tag: shared_content_download
                    description: (sharing) Downloaded shared file/folder
                  details:
                    .tag: shared_content_download_details
                    shared_content_link: abc
                    shared_content_access_level:
                      .tag: viewer_no_comment
                    shared_content_owner:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  actor:
                    .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                      display_name: John Smith
                      email: john_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                      team:
                        display_name: A Team
                  origin:
                    access_method:
                      .tag: end_user
                      end_user:
                        .tag: web
                        session_id: dbwsid:123456789012345678901234567890123456789
                    geo_location:
                      ip_address: 45.56.78.100
                      city: San Francisco
                      region: California
                      country: US
                  involve_non_team_member: true
                  context:
                    .tag: team_member
                    account_id: dbid:AAHgR8xsQP48a5DQUGPo-Vxsrjd0OByVmho
                    display_name: John Smith
                    email: john_smith@acmecorp.com
                    team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                    member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1224
                    team:
                      display_name: A Team
                  participants:
                  - .tag: user
                    user:
                      .tag: team_member
                      account_id: dbid:AAGx4oiLtHdvRdNxUpvvJBXYgR4BS19c9kw
                      display_name: Jane Smith
                      email: jane_smith@acmecorp.com
                      team_member_id: dbmid:AAFoi-tmvRuQR0jU-3fN4B-9nZo6nHcDO9Q
                      member_external_id: ADSYNC S-1-5-21-1004296348-1135238915-682003432-1225
                      team:
                        display_name: A Team
                  assets:
                  - .tag: file
                    path:
                      namespace_relative:
                        ns_id: '1234'
                        relative_path: /Contract Work/Draft
                        is_shared_namespace: false
                      contextual: /Contract Work/Draft
                    display_name: reports.xls
                    file_id: id:jQKLsZFQImAAAAAAEZAAQt
                    file_size: 4
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: false
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
