openapi: 3.0.0
info:
  title: Dropbox API Reference Account Bulk Send Job API
  description: "The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways. This is a collection that includes requests to all endpoints in the Dropbox API. \n\nThe Dropbox API is divided in two groups of endpoints: User Endpoints and Business Endpoints. Operations that would most likely be executed by a user, such as file operations, are in the User Endpoints folder. Operations that would most likely be executed by a team administrator, such as adding users to groups, live in the Business Endpoints folder. \n\nIf you are new to Dropbox Business and Team Administration, please have a look at the [Dropobox Admin Guide](https://help.dropbox.com/guide/admin/how-to-get-started#dropbox-admin-guide). \n\nIf you want more information on how to use our API please refer to our [Developer Portal](https://www.dropbox.com/developers). \n\n# What's in the collection?\n\nThe endpoints are organized in the following folders:\n* account\n* auth\n* check\n* contacts\n* file_properties\n* file_requests\n* files\n* sharing\n* team\n* team_log\n* users\n\n# Authorization\n\n## OAuth 2.0 for API Access\nDropbox uses OAuth 2.0, an open specification, to authorize access to data. To get an OAuth token from Dropbox to enable Postman to access your Dropbox account via the API you’ll need to create a new app on the DBX Platform.\n\n## Creating an App on the DBX Platform\nNavigate to https://www.dropbox.com/developers/apps and select “Create app” \n1. Choose an API  \n2. Choose the type of access you need \n3. Give your app a name  \n4. Choose the Dropbox account that will own your app  \n\nFor reference, please use the [Dropbox OAuth guide](https://www.dropbox.com/lp/developers/reference/oauth-guide) \n\n## Generating an Access Token\nOnce you select “Create app” a page will load that displays information about your newly created app. To generate an access token scroll down to “OAuth 2” and click “Generate” beneath “Generated access token.” The token will display as a long string of characters. Copy this token for use with the Postman Collection.\n\n## Adding an Access Token to the requests\nIn the Postman client, click on the three dots to the right of the collection name to \"View more actions.\"\n\n![Screenshot of adding access token](https://www.dropbox.com/s/sfebu9ai76cbq39/Screen%20Shot%202020-10-28%20at%2012.50.56%20AM.png?raw=1)\n\nThen, click \"Edit.\"\n\nClick on the \"Variables\" tab and, in the row for the `access_token` variable, paste your access token in the `CURRENT VALUE` column. The default value is `your-access-token-here`.\n\n![Screenshot of adding access token](https://www.dropbox.com/s/ahnbxwe6oscjues/Screen%20Shot%202020-10-28%20at%2012.51.13%20AM.png?raw=1)\n\nFor information on sessions and variables in Postman see the blog post at https://blog.postman.com/sessions-faq/.\n\n# Notes\n* Dropbox also has a Postman Collection in the API Network to help administrators with team management workflows. It is called [Dropbox Team Admin Workflows](). \n\n"
  version: 1.0.0
servers:
- url: https://api.dropbox.com
security:
- bearerAuth: []
tags:
- name: Bulk Send Job
  description: _md__OpenApi::TAG::BULK_SEND_JOB::DESCRIPTION
paths:
  /bulk_send_job/{bulk_send_job_id}:
    get:
      tags:
      - Bulk Send Job
      summary: Dropbox _t__BulkSendJobGet::SUMMARY
      description: _t__BulkSendJobGet::DESCRIPTION
      operationId: bulkSendJobGet
      parameters:
      - name: bulk_send_job_id
        in: path
        description: _t__BulkSendJobGet::BULK_SEND_JOB_ID
        required: true
        schema:
          type: string
        example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
      - name: page
        in: query
        description: _t__BulkSendJobGet::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__BulkSendJobGet::PAGE_SIZE
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/BulkSendJobGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/BulkSendJobGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/BulkSendJobGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/BulkSendJobGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/BulkSendJobGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/BulkSendJobGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/BulkSendJobGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/BulkSendJobGet.sh
      x-meta:
        seo:
          title: _t__BulkSendJobGet::SEO::TITLE
          description: _t__BulkSendJobGet::SEO::DESCRIPTION
  /bulk_send_job/list:
    get:
      tags:
      - Bulk Send Job
      summary: Dropbox _t__BulkSendJobList::SUMMARY
      description: _t__BulkSendJobList::DESCRIPTION
      operationId: bulkSendJobList
      parameters:
      - name: page
        in: query
        description: _t__BulkSendJobList::PAGE
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: _t__BulkSendJobList::PAGE_SIZE
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/BulkSendJobList.php
      - lang: C#
        label: C#
        source:
          $ref: examples/BulkSendJobList.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/BulkSendJobList.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/BulkSendJobList.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/BulkSendJobList.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/BulkSendJobList.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/BulkSendJobList.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/BulkSendJobList.sh
      x-meta:
        seo:
          title: _t__BulkSendJobList::SEO::TITLE
          description: _t__BulkSendJobList::SEO::DESCRIPTION
components:
  schemas:
    SignatureRequestResponseSignatures:
      description: _t__SignatureRequestResponseSignatures::DESCRIPTION
      properties:
        signature_id:
          description: _t__SignatureRequestResponseSignatures::SIGNATURE_ID
          type: string
        signer_group_guid:
          description: _t__SignatureRequestResponseSignatures::SIGNER_GROUP_GUID
          type: string
          nullable: true
        signer_email_address:
          description: _t__SignatureRequestResponseSignatures::SIGNER_EMAIL_ADDRESS
          type: string
        signer_name:
          description: _t__SignatureRequestResponseSignatures::SIGNER_NAME
          type: string
          nullable: true
        signer_role:
          description: _t__SignatureRequestResponseSignatures::SIGNER_ROLE
          type: string
          nullable: true
        order:
          description: _t__SignatureRequestResponseSignatures::ORDER
          type: integer
          nullable: true
        status_code:
          description: _t__SignatureRequestResponseSignatures::STATUS_CODE
          type: string
        decline_reason:
          description: _t__SignatureRequestResponseSignatures::DECLINE_REASON
          type: string
          nullable: true
        signed_at:
          description: _t__SignatureRequestResponseSignatures::SIGNED_AT
          type: integer
          nullable: true
        last_viewed_at:
          description: _t__SignatureRequestResponseSignatures::LAST_VIEWED_AT
          type: integer
          nullable: true
        last_reminded_at:
          description: _t__SignatureRequestResponseSignatures::LAST_REMINDED_AT
          type: integer
          nullable: true
        has_pin:
          description: _t__SignatureRequestResponseSignatures::HAS_PIN
          type: boolean
        has_sms_auth:
          description: _t__SignatureRequestResponseSignatures::HAS_SMS_AUTH
          type: boolean
          nullable: true
        has_sms_delivery:
          description: _t__SignatureRequestResponseSignatures::HAS_SMS_DELIVERY
          type: boolean
          nullable: true
        sms_phone_number:
          description: _t__SignatureRequestResponseSignatures::SMS_PHONE_NUMBER
          type: string
          nullable: true
        reassigned_by:
          description: _t__SignatureRequestResponseSignatures::REASSIGNED_BY
          type: string
          nullable: true
        reassignment_reason:
          description: _t__SignatureRequestResponseSignatures::REASSIGNMENT_REASON
          type: string
          nullable: true
        reassigned_from:
          description: _t__SignatureRequestResponseSignatures::REASSIGNED_FROM
          type: string
          nullable: true
        error:
          description: _t__SignatureRequestResponseSignatures::ERROR
          type: string
          nullable: true
      type: object
      x-internal: true
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    SignatureRequestResponseDataBase:
      description: _t__SignatureRequestResponseData::DESCRIPTION
      properties:
        api_id:
          description: _t__SignatureRequestResponseData::API_ID
          type: string
        signature_id:
          description: _t__SignatureRequestResponseData::SIGNATURE_ID
          type: string
        name:
          description: _t__SignatureRequestResponseData::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseData::REQUIRED
          type: boolean
        type:
          type: string
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SignatureRequestResponseDataValueText'
          checkbox: '#/components/schemas/SignatureRequestResponseDataValueCheckbox'
          dropdown: '#/components/schemas/SignatureRequestResponseDataValueDropdown'
          radio: '#/components/schemas/SignatureRequestResponseDataValueRadio'
          signature: '#/components/schemas/SignatureRequestResponseDataValueSignature'
          date_signed: '#/components/schemas/SignatureRequestResponseDataValueDateSigned'
          initials: '#/components/schemas/SignatureRequestResponseDataValueInitials'
          text-merge: '#/components/schemas/SignatureRequestResponseDataValueTextMerge'
          checkbox-merge: '#/components/schemas/SignatureRequestResponseDataValueCheckboxMerge'
      x-internal: true
      x-base-class: true
    WarningResponse:
      description: _t__WarningResponse::LIST_DESCRIPTION
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: _t__WarningResponse::WARNING_MSG
          type: string
        warning_name:
          description: _t__WarningResponse::WARNING_NAME
          type: string
      type: object
    SignatureRequestResponseCustomFieldBase:
      description: _t__SignatureRequestResponseCustomField::DESCRIPTION
      required:
      - name
      - type
      properties:
        type:
          description: _t__SignatureRequestResponseCustomField::TYPE
          type: string
        name:
          description: _t__SignatureRequestResponseCustomField::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseCustomField::REQUIRED
          type: boolean
        api_id:
          description: _t__SignatureRequestResponseCustomField::API_ID
          type: string
        editor:
          description: _t__SignatureRequestResponseCustomField::EDITOR
          type: string
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SignatureRequestResponseCustomFieldText'
          checkbox: '#/components/schemas/SignatureRequestResponseCustomFieldCheckbox'
      x-internal: true
      x-base-class: true
    ErrorResponseError:
      description: _t__ErrorResponseError::DESCRIPTION
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: _t__ErrorResponseError::ERROR_MSG
          type: string
        error_path:
          description: _t__ErrorResponseError::ERROR_PATH
          type: string
        error_name:
          description: _t__ErrorResponseError::ERROR_NAME
          type: string
      type: object
    ListInfoResponse:
      description: _t__ListInfoResponse::DESCRIPTION
      properties:
        num_pages:
          description: _t__ListInfoResponse::NUM_PAGES
          type: integer
        num_results:
          description: _t__ListInfoResponse::NUM_RESULTS
          type: integer
          nullable: true
        page:
          description: _t__ListInfoResponse::PAGE
          type: integer
        page_size:
          description: _t__ListInfoResponse::PAGE_SIZE
          type: integer
      type: object
      x-internal: true
    BulkSendJobResponse:
      description: _t__BulkSendJobResponse::DESCRIPTION
      properties:
        bulk_send_job_id:
          description: _t__BulkSendJobResponse::BULK_SEND_JOB_ID
          type: string
          nullable: true
        total:
          description: _t__BulkSendJobResponse::TOTAL
          type: integer
        is_creator:
          description: _t__BulkSendJobResponse::IS_CREATOR
          type: boolean
        created_at:
          description: _t__BulkSendJobResponse::CREATED_AT
          type: integer
      type: object
      x-internal: true
    BulkSendJobGetResponseSignatureRequests:
      title: BulkSendJobGetResponseSignatureRequests
      type: object
      allOf:
      - $ref: '#/components/schemas/SignatureRequestResponse'
      - properties:
          bulk_send_job_id:
            description: _t__BulkSendJobGetResponseSignatureRequests::BULK_SEND_JOB_ID
            type: string
      x-internal: true
    BulkSendJobGetResponse:
      properties:
        bulk_send_job:
          $ref: '#/components/schemas/BulkSendJobResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        signature_requests:
          description: _t__BulkSendJobGetResponse::SIGNATURE_REQUESTS
          type: array
          items:
            $ref: '#/components/schemas/BulkSendJobGetResponseSignatureRequests'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    SignatureRequestResponse:
      description: _t__SignatureRequestResponse::DESCRIPTION
      properties:
        test_mode:
          description: _t__SignatureRequestResponse::TEST_MODE
          type: boolean
          default: false
          nullable: true
        signature_request_id:
          description: _t__SignatureRequestResponse::SIGNATURE_REQUEST_ID
          type: string
        requester_email_address:
          description: _t__SignatureRequestResponse::REQUESTER_EMAIL_ADDRESS
          type: string
        title:
          description: _t__SignatureRequestResponse::TITLE
          type: string
        original_title:
          description: _t__SignatureRequestResponse::ORIGINAL_TITLE
          type: string
        subject:
          description: _t__SignatureRequestResponse::SUBJECT
          type: string
          nullable: true
        message:
          description: _t__SignatureRequestResponse::MESSAGE
          type: string
          nullable: true
        metadata:
          description: _t__SignatureRequestResponse::METADATA
          type: object
        created_at:
          description: _t__SignatureRequestResponse::CREATED_AT
          type: integer
        expires_at:
          description: _t__SignatureRequestResponse::EXPIRES_AT
          type: integer
        is_complete:
          description: _t__SignatureRequestResponse::IS_COMPLETE
          type: boolean
        is_declined:
          description: _t__SignatureRequestResponse::IS_DECLINED
          type: boolean
        has_error:
          description: _t__SignatureRequestResponse::HAS_ERROR
          type: boolean
        files_url:
          description: _t__SignatureRequestResponse::FILES_URL
          type: string
        signing_url:
          description: _t__SignatureRequestResponse::SIGNING_URL
          type: string
          nullable: true
        details_url:
          description: _t__SignatureRequestResponse::DETAILS_URL
          type: string
        cc_email_addresses:
          description: _t__SignatureRequestResponse::CC_EMAIL_ADDRESSES
          type: array
          items:
            type: string
        signing_redirect_url:
          description: _t__SignatureRequestResponse::SIGNING_REDIRECT_URL
          type: string
          nullable: true
        final_copy_uri:
          description: _t__SignatureRequestResponse::FINAL_COPY_URI
          type: string
          nullable: true
        template_ids:
          description: _t__SignatureRequestResponse::TEMPLATE_IDS
          type: array
          items:
            type: string
          nullable: true
        custom_fields:
          description: _t__SignatureRequestResponseCustomField::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SignatureRequestResponseCustomFieldBase'
          nullable: true
        attachments:
          description: _t__SignatureRequestResponseAttachment::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SignatureRequestResponseAttachment'
          nullable: true
        response_data:
          description: _t__SignatureRequestResponseData::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SignatureRequestResponseDataBase'
          nullable: true
        signatures:
          description: _t__SignatureRequestResponseSignatures::DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/SignatureRequestResponseSignatures'
        bulk_send_job_id:
          description: _t__SignatureRequestResponse::BULK_SEND_JOB_ID
          type: string
          nullable: true
      type: object
      x-internal: true
    BulkSendJobListResponse:
      properties:
        bulk_send_jobs:
          description: _t__BulkSendJobListResponse::BULK_SEND_JOBS
          type: array
          items:
            $ref: '#/components/schemas/BulkSendJobResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
        warnings:
          description: _t__WarningResponse::LIST_DESCRIPTION
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal: true
    SignatureRequestResponseAttachment:
      description: _t__SignatureRequestResponseAttachment::DESCRIPTION
      required:
      - id
      - signer
      - name
      - required
      properties:
        id:
          description: _t__SignatureRequestResponseAttachment::ID
          type: string
        signer:
          description: _t__SignatureRequestResponseAttachment::SIGNER
          type: string
        name:
          description: _t__SignatureRequestResponseAttachment::NAME
          type: string
        required:
          description: _t__SignatureRequestResponseAttachment::REQUIRED
          type: boolean
        instructions:
          description: _t__SignatureRequestResponseAttachment::INSTRUCTIONS
          type: string
          nullable: true
        uploaded_at:
          description: _t__SignatureRequestResponseAttachment::UPLOADED_AT
          type: integer
          nullable: true
      type: object
      x-internal: true
  examples:
    BulkSendJobGetResponseExample:
      summary: _t__BulkSendJobGetResponseExample::SUMMARY
      value:
        $ref: examples/json/BulkSendJobGetResponseExample.json
    Error4XXResponseExample:
      summary: _t__Error::4XX
      value:
        $ref: examples/json/Error4XXResponseExample.json
    Error400ResponseExample:
      summary: _t__Error::400
      value:
        $ref: examples/json/Error400ResponseExample.json
    Error403ResponseExample:
      summary: _t__Error::403
      value:
        $ref: examples/json/Error403ResponseExample.json
    BulkSendJobListResponseExample:
      summary: _t__BulkSendJobListResponseExample::SUMMARY
      value:
        $ref: examples/json/BulkSendJobListResponseExample.json
    Error402ResponseExample:
      summary: _t__Error::402
      value:
        $ref: examples/json/Error402ResponseExample.json
    Error401ResponseExample:
      summary: _t__Error::401
      value:
        $ref: examples/json/Error401ResponseExample.json
  headers:
    X-Ratelimit-Reset:
      description: _t__Common::RateLimiting::RESET
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Limit:
      description: _t__Common::RateLimiting::LIMIT
      schema:
        type: integer
        format: int32
        example: 100
    X-RateLimit-Remaining:
      description: _t__Common::RateLimiting::REMAINING
      schema:
        type: integer
        format: int32
        example: 99
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
